.app-logo{
  background: url('/images/icon-48x48.png') no-repeat center;
	height: 48px;
	width: 48px;
	padding: 5px 10px;
}
.app-title{
  font-size: 1.5em;
  font-weight: bold;
}
.app-desc{
  font-size: 1.2em;
}
.app-header-text{
  line-height: 1.3em;
  padding-right: 10px;
}
.auth-logo{
  background: url('/images/icon-128x128.png') no-repeat center;
	height: 128px;
	width: 128px;
	padding: 10px;
}
.auth-title{
  font-size: 2.5em;
  font-weight: bold;
}
.auth-desc{
  font-size: 1.5em;
}
.auth-tou{
  text-align: center;
  padding: 10px;
}
.panel-menu{
  height: auto;
  /*overflow-y: auto;
  overflow-x: visible !important;*/
}
.panel-menu .block{
	display: flex;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.panel-menu .section{
  position:relative;
	font-size: 1.1em;
	padding: 5px 40px 5px 20px;
}
.panel-menu .section .expand{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  padding: auto;
  font-size: 1.1em;
}
.panel-menu ul{
	width: 100%;
}
.panel-menu [class^="icon-"], .panel-menu [class*=" icon-"]{
	font-size: 1.3em;
  height: auto;
  width: auto;
	margin-left: 5px;
  vertical-align: middle;
}
.k-toolbar [class^="icon-"], .k-toolbar [class*=" icon-"]{
	font-size: 1.3em;
  height: auto;
  width: auto;
	margin-left: 5px;
  vertical-align: middle;
}
.k-treeview [class^="icon-"], .k-treeview [class*=" icon-"]{
	font-size: 1.3em;
	height: auto;
  width: auto;
  vertical-align: middle;
}
.k-treeview [class^="mime-"], .k-treeview [class*=" mime-"]{
	font-size: 1.3em;
	height: auto;
  width: auto;
  vertical-align: middle;
}
.km-widget{
	cursor: pointer;
}
iframe{
  border: none;
  width: 100%;
}
