.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.no-select{
	user-select: none;
}
.no-border{
  border: none!important;
}
.overflow-y{
  overflow-y: auto;
}
.overflow-x{
  overflow-x: auto;
}
.overflow-none{
  overflow: hidden;
}
.no-point{
  pointer-events: none;
}
