.flex{
  display: flex;
  position: relative;
  flex-shrink: 0;
}
.flex-dir-row{
  flex-direction: row;
}
.flex-dir-row-reverse, .flex-dir-row-rev{
  flex-direction: row-reverse;
}
.flex-dir-col, .flex-dir-column{
  flex-direction: column;
}
.flex-dir-col-reverse, .flex-dir-col-rev, .flex-dir-column-reverse, .flex-dir-column-rev{
  flex-direction: column-reverse;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
.flex-wrap-reverse{
  flex-wrap: nowrap;
}
.flex-justify-start{
  justify-content: flex-start;
}
.flex-justify-end{
  justify-content: flex-end;
}
.flex-justify-center{
  justify-content: center;
}
.flex-justify-between{
  justify-content: space-between;
}
.flex-justify-around{
  justify-content: space-around;
}
.flex-align-items-start{
  align-items: flex-start;
}
.flex-align-items-end{
  align-items: flex-end;
}
.flex-align-items-center{
  align-items: center;
}
.flex-align-items-baseline{
  align-items: baseline;
}
.flex-align-items-stretch{
  align-items: stretch;
}
.flex-align-content-start{
  align-content: flex-start;
}
.flex-align-content-end{
  align-content: flex-end;
}
.flex-align-content-center{
  align-content: center;
}
.flex-align-content-between{
  align-content: space-between;
}
.flex-align-content-around{
  align-content: space-around;
}
.flex-align-content-stretch{
  align-content: stretch;
}
.flex-align-self-start{
  align-self: flex-start;
}
.flex-align-self-end{
  align-self: flex-end;
}
.flex-align-self-center{
  align-self: center;
}
.flex-align-self-baseline{
  align-self: baseline;
}
.flex-align-self-stretch{
  align-self: stretch;
}
