
.grid1{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	cursor: default !important;
}
.grid2{
	height: 100%;
	width: auto;
}
.k-grid td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
