@font-face {
  font-family: 'appicons';
  src:  url('fonts/appicons.eot?git09y');
  src:  url('fonts/appicons.eot?git09y#iefix') format('embedded-opentype'),
    url('fonts/appicons.ttf?git09y') format('truetype'),
    url('fonts/appicons.woff?git09y') format('woff'),
    url('fonts/appicons.svg?git09y#appicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'appicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bisect:before {
  content: "\e900";
}
.icon-difference:before {
  content: "\e901";
}
.icon-intersection:before {
  content: "\e902";
}
.icon-sym-diff:before {
  content: "\e903";
}
.icon-align-1:before {
  content: "\e904";
}
.icon-align:before {
  content: "\e905";
}
.icon-anchor:before {
  content: "\e906";
}
.icon-background-1:before {
  content: "\e907";
}
.icon-background-2:before {
  content: "\e908";
}
.icon-background:before {
  content: "\e909";
}
.icon-bounding-box:before {
  content: "\e90a";
}
.icon-brush:before {
  content: "\e90b";
}
.icon-bucket-1:before {
  content: "\e90c";
}
.icon-bucket:before {
  content: "\e90d";
}
.icon-center-align:before {
  content: "\e90e";
}
.icon-center-alignment-1:before {
  content: "\e90f";
}
.icon-center-alignment:before {
  content: "\e910";
}
.icon-circle:before {
  content: "\e911";
}
.icon-circular:before {
  content: "\e912";
}
.icon-column:before {
  content: "\e913";
}
.icon-cone:before {
  content: "\e914";
}
.icon-constraint:before {
  content: "\e915";
}
.icon-coordinates:before {
  content: "\e916";
}
.icon-crop-1:before {
  content: "\e917";
}
.icon-crop:before {
  content: "\e918";
}
.icon-cube-1:before {
  content: "\e919";
}
.icon-cube-2:before {
  content: "\e91a";
}
.icon-cube-3:before {
  content: "\e91b";
}
.icon-cube-4:before {
  content: "\e91c";
}
.icon-cube-5:before {
  content: "\e91d";
}
.icon-cube:before {
  content: "\e91e";
}
.icon-cursor-1:before {
  content: "\e91f";
}
.icon-cursor-2:before {
  content: "\e920";
}
.icon-cursor:before {
  content: "\e921";
}
.icon-cylinder:before {
  content: "\e922";
}
.icon-distort-1:before {
  content: "\e923";
}
.icon-distort:before {
  content: "\e924";
}
.icon-divide:before {
  content: "\e925";
}
.icon-edit-1:before {
  content: "\e926";
}
.icon-edit-2:before {
  content: "\e927";
}
.icon-edit-3:before {
  content: "\e928";
}
.icon-edit-4:before {
  content: "\e929";
}
.icon-edit-corner:before {
  content: "\e92a";
}
.icon-edit:before {
  content: "\e92b";
}
.icon-exclude:before {
  content: "\e92c";
}
.icon-eyedropper-1:before {
  content: "\e92d";
}
.icon-eyedropper:before {
  content: "\e92e";
}
.icon-flatten:before {
  content: "\e92f";
}
.icon-flip-1:before {
  content: "\e930";
}
.icon-flip:before {
  content: "\e931";
}
.icon-foreground:before {
  content: "\e932";
}
.icon-grids:before {
  content: "\e933";
}
.icon-group:before {
  content: "\e934";
}
.icon-intersection-2:before {
  content: "\e935";
}
.icon-joint:before {
  content: "\e936";
}
.icon-left-alignment-1:before {
  content: "\e937";
}
.icon-left-alignment-2:before {
  content: "\e938";
}
.icon-left-alignment:before {
  content: "\e939";
}
.icon-union:before {
  content: "\e93a";
}
.icon-mirror-horizontally-1:before {
  content: "\e93b";
}
.icon-mirror-horizontally:before {
  content: "\e93c";
}
.icon-outline:before {
  content: "\e93d";
}
.icon-oval-1:before {
  content: "\e93e";
}
.icon-oval-2:before {
  content: "\e93f";
}
.icon-oval:before {
  content: "\e940";
}
.icon-paint-palette:before {
  content: "\e941";
}
.icon-pen-1:before {
  content: "\e942";
}
.icon-pen:before {
  content: "\e943";
}
.icon-perspective:before {
  content: "\e944";
}
.icon-polygon:before {
  content: "\e945";
}
.icon-right-alignment-1:before {
  content: "\e946";
}
.icon-right-alignment-2:before {
  content: "\e947";
}
.icon-right-alignment:before {
  content: "\e948";
}
.icon-rotate-1:before {
  content: "\e949";
}
.icon-rotate:before {
  content: "\e94a";
}
.icon-row:before {
  content: "\e94b";
}
.icon-ruler-1:before {
  content: "\e94c";
}
.icon-ruler:before {
  content: "\e94d";
}
.icon-scale:before {
  content: "\e94e";
}
.icon-select:before {
  content: "\e94f";
}
.icon-sent-1:before {
  content: "\e950";
}
.icon-sent:before {
  content: "\e951";
}
.icon-shapes-1:before {
  content: "\e952";
}
.icon-shapes:before {
  content: "\e953";
}
.icon-spiral:before {
  content: "\e954";
}
.icon-spray:before {
  content: "\e955";
}
.icon-square-1:before {
  content: "\e956";
}
.icon-square-2:before {
  content: "\e957";
}
.icon-square-3:before {
  content: "\e958";
}
.icon-square-4:before {
  content: "\e959";
}
.icon-square-5:before {
  content: "\e95a";
}
.icon-square-6:before {
  content: "\e95b";
}
.icon-square-7:before {
  content: "\e95c";
}
.icon-square-8:before {
  content: "\e95d";
}
.icon-square-9:before {
  content: "\e95e";
}
.icon-square-10:before {
  content: "\e95f";
}
.icon-square-11:before {
  content: "\e960";
}
.icon-square-12:before {
  content: "\e961";
}
.icon-square-13:before {
  content: "\e962";
}
.icon-square-14:before {
  content: "\e963";
}
.icon-square-15:before {
  content: "\e964";
}
.icon-square-16:before {
  content: "\e965";
}
.icon-square-17:before {
  content: "\e966";
}
.icon-square-18:before {
  content: "\e967";
}
.icon-square-19:before {
  content: "\e968";
}
.icon-square-20:before {
  content: "\e969";
}
.icon-square-21:before {
  content: "\e96a";
}
.icon-square-22:before {
  content: "\e96b";
}
.icon-square-23:before {
  content: "\e96c";
}
.icon-square-24:before {
  content: "\e96d";
}
.icon-square-25:before {
  content: "\e96e";
}
.icon-square-26:before {
  content: "\e96f";
}
.icon-square-27:before {
  content: "\e970";
}
.icon-square:before {
  content: "\e971";
}
.icon-tile-1:before {
  content: "\e972";
}
.icon-tile:before {
  content: "\e973";
}
.icon-transform:before {
  content: "\e974";
}
.icon-triangle-1:before {
  content: "\e975";
}
.icon-triangle:before {
  content: "\e976";
}
.icon-trim:before {
  content: "\e977";
}
.icon-unconstrained:before {
  content: "\e978";
}
.icon-ungroup:before {
  content: "\e979";
}
.icon-unite:before {
  content: "\e97a";
}
.icon-vector-1:before {
  content: "\e97b";
}
.icon-vector-2:before {
  content: "\e97c";
}
.icon-vector-3:before {
  content: "\e97d";
}
.icon-vector:before {
  content: "\e97e";
}
.icon-vertical-alignment-1:before {
  content: "\e97f";
}
.icon-vertical-alignment-2:before {
  content: "\e980";
}
.icon-vertical-alignment-3:before {
  content: "\e981";
}
.icon-vertical-alignment-4:before {
  content: "\e982";
}
.icon-vertical-alignment-5:before {
  content: "\e983";
}
.icon-vertical-alignment-6:before {
  content: "\e984";
}
.icon-vertical-alignment:before {
  content: "\e985";
}
.icon-map-1000a:before {
  content: "\e986";
}
.icon-map-1111a:before {
  content: "\e987";
}
.icon-map-1010a:before {
  content: "\e988";
}
.icon-map-1100a:before {
  content: "\e989";
}
.icon-map-1011a:before {
  content: "\e98a";
}
.icon-map-1110a:before {
  content: "\e98b";
}
.icon-map-1011b:before {
  content: "\e98c";
}
.icon-map-1110b:before {
  content: "\e98d";
}
.icon-book-7:before {
  content: "\e98e";
}
.icon-book-arrange-7:before {
  content: "\e98f";
}
.icon-book-check-7:before {
  content: "\e990";
}
.icon-book-cover-7:before {
  content: "\e991";
}
.icon-book-cover-check-7:before {
  content: "\e992";
}
.icon-book-cover-download-7:before {
  content: "\e993";
}
.icon-book-cover-minus-7:before {
  content: "\e994";
}
.icon-book-cover-off-7:before {
  content: "\e995";
}
.icon-book-cover-plus-7:before {
  content: "\e996";
}
.icon-book-cover-star-7:before {
  content: "\e997";
}
.icon-book-cover-tick-7:before {
  content: "\e998";
}
.icon-book-cover-upload-7:before {
  content: "\e999";
}
.icon-book-download-7:before {
  content: "\e99a";
}
.icon-book-flip-7:before {
  content: "\e99b";
}
.icon-book-magic-7:before {
  content: "\e99c";
}
.icon-book-off-7:before {
  content: "\e99d";
}
.icon-book-star-7:before {
  content: "\e99e";
}
.icon-book-tear-7:before {
  content: "\e99f";
}
.icon-book-tick-7:before {
  content: "\e9a0";
}
.icon-book-write-7:before {
  content: "\e9a1";
}
.icon-file-7:before {
  content: "\e9a2";
}
.icon-file-barchart-7:before {
  content: "\e9a3";
}
.icon-file-chart-7:before {
  content: "\e9a4";
}
.icon-file-check-7:before {
  content: "\e9a5";
}
.icon-file-code-7:before {
  content: "\e9a6";
}
.icon-file-connect-7:before {
  content: "\e9a7";
}
.icon-file-copy-7:before {
  content: "\e9a8";
}
.icon-file-cross-7:before {
  content: "\e9a9";
}
.icon-file-cut-7:before {
  content: "\e9aa";
}
.icon-file-document-7:before {
  content: "\e9ab";
}
.icon-file-download-7:before {
  content: "\e9ac";
}
.icon-file-error-7:before {
  content: "\e9ad";
}
.icon-file-folder-7:before {
  content: "\e9ae";
}
.icon-file-invisible-7:before {
  content: "\e9af";
}
.icon-file-list-7:before {
  content: "\e9b0";
}
.icon-file-list-tick-7:before {
  content: "\e9b1";
}
.icon-file-lock-7:before {
  content: "\e9b2";
}
.icon-file-minus-7:before {
  content: "\e9b3";
}
.icon-file-off-7:before {
  content: "\e9b4";
}
.icon-file-plus-7:before {
  content: "\e9b5";
}
.icon-file-reflect-7:before {
  content: "\e9b6";
}
.icon-file-save-7:before {
  content: "\e9b7";
}
.icon-file-save-many-7:before {
  content: "\e9b8";
}
.icon-file-select-7:before {
  content: "\e9b9";
}
.icon-file-select-many-7:before {
  content: "\e9ba";
}
.icon-file-star-7:before {
  content: "\e9bb";
}
.icon-file-switch-7:before {
  content: "\e9bc";
}
.icon-file-table-7:before {
  content: "\e9bd";
}
.icon-file-three-7:before {
  content: "\e9be";
}
.icon-file-tick-7:before {
  content: "\e9bf";
}
.icon-file-time-7:before {
  content: "\e9c0";
}
.icon-file-transfer-7:before {
  content: "\e9c1";
}
.icon-file-two-7:before {
  content: "\e9c2";
}
.icon-file-upload-7:before {
  content: "\e9c3";
}
.icon-file-write-7:before {
  content: "\e9c4";
}
.icon-file-x-7:before {
  content: "\e9c5";
}
.icon-file-zip-7:before {
  content: "\e9c6";
}
.icon-folder-7:before {
  content: "\e9c7";
}
.icon-folder-check-7:before {
  content: "\e9c8";
}
.icon-folder-connect-7:before {
  content: "\e9c9";
}
.icon-folder-cut-7:before {
  content: "\e9ca";
}
.icon-folder-download-7:before {
  content: "\e9cb";
}
.icon-folder-error-7:before {
  content: "\e9cc";
}
.icon-folder-file-7:before {
  content: "\e9cd";
}
.icon-folder-invisible-7:before {
  content: "\e9ce";
}
.icon-folder-lock-7:before {
  content: "\e9cf";
}
.icon-folder-minus-7:before {
  content: "\e9d0";
}
.icon-folder-off-7:before {
  content: "\e9d1";
}
.icon-folder-plus-7:before {
  content: "\e9d2";
}
.icon-folder-save-7:before {
  content: "\e9d3";
}
.icon-folder-star-7:before {
  content: "\e9d4";
}
.icon-folder-switch-7:before {
  content: "\e9d5";
}
.icon-folder-three-7:before {
  content: "\e9d6";
}
.icon-folder-tick-7:before {
  content: "\e9d7";
}
.icon-folder-two-7:before {
  content: "\e9d8";
}
.icon-folder-upload-7:before {
  content: "\e9d9";
}
.icon-folder-x-7:before {
  content: "\e9da";
}
.icon-folder-zip-7:before {
  content: "\e9db";
}
.icon-paper-piece-7:before {
  content: "\e9dc";
}
.icon-paper-piece-check-7:before {
  content: "\e9dd";
}
.icon-paper-piece-clock-7:before {
  content: "\e9de";
}
.icon-paper-piece-document-7:before {
  content: "\e9df";
}
.icon-paper-piece-download-7:before {
  content: "\e9e0";
}
.icon-paper-piece-list-7:before {
  content: "\e9e1";
}
.icon-paper-piece-list-tick-7:before {
  content: "\e9e2";
}
.icon-paper-piece-minus-7:before {
  content: "\e9e3";
}
.icon-paper-piece-off-7:before {
  content: "\e9e4";
}
.icon-paper-piece-plus-7:before {
  content: "\e9e5";
}
.icon-paper-piece-star-7:before {
  content: "\e9e6";
}
.icon-paper-piece-tick-7:before {
  content: "\e9e7";
}
.icon-paper-piece-upload-7:before {
  content: "\e9e8";
}
.icon-paper-piece-write-7:before {
  content: "\e9e9";
}
.icon-paper-piece-x-7:before {
  content: "\e9ea";
}
.icon-report-7:before {
  content: "\e9eb";
}
.icon-report-blank-7:before {
  content: "\e9ec";
}
.icon-report-off-7:before {
  content: "\e9ed";
}
.icon-report-tick-7:before {
  content: "\e9ee";
}
.icon-report-write-7:before {
  content: "\e9ef";
}
.icon-apartment-7:before {
  content: "\e9f0";
}
.icon-bank-7:before {
  content: "\e9f1";
}
.icon-bank-off-7:before {
  content: "\e9f2";
}
.icon-bank-star-7:before {
  content: "\e9f3";
}
.icon-bank-tick-7:before {
  content: "\e9f4";
}
.icon-caravan-7:before {
  content: "\e9f5";
}
.icon-cemetery-7:before {
  content: "\e9f6";
}
.icon-church-7:before {
  content: "\e9f7";
}
.icon-city-7:before {
  content: "\e9f8";
}
.icon-embassy-7:before {
  content: "\e9f9";
}
.icon-factory-7:before {
  content: "\e9fa";
}
.icon-factory-big-7:before {
  content: "\e9fb";
}
.icon-garage-7:before {
  content: "\e9fc";
}
.icon-garage-off-7:before {
  content: "\e9fd";
}
.icon-garage-star-7:before {
  content: "\e9fe";
}
.icon-garage-tick-7:before {
  content: "\e9ff";
}
.icon-hospital-7-active:before {
  content: "\ea00";
}
.icon-house-7:before {
  content: "\ea01";
}
.icon-house-minus-7:before {
  content: "\ea02";
}
.icon-house-off-7:before {
  content: "\ea03";
}
.icon-house-plus-7:before {
  content: "\ea04";
}
.icon-house-star-7:before {
  content: "\ea05";
}
.icon-house-tick-7:before {
  content: "\ea06";
}
.icon-land-7:before {
  content: "\ea07";
}
.icon-land-vacant-7:before {
  content: "\ea08";
}
.icon-lighthouse-7:before {
  content: "\ea09";
}
.icon-mansion-7:before {
  content: "\ea0a";
}
.icon-rural-house-7:before {
  content: "\ea0b";
}
.icon-school-7:before {
  content: "\ea0c";
}
.icon-shop-7-off:before {
  content: "\ea0d";
}
.icon-shop-7:before {
  content: "\ea0e";
}
.icon-shop-star-7:before {
  content: "\ea0f";
}
.icon-shop-tick-7:before {
  content: "\ea10";
}
.icon-solar-panel-7:before {
  content: "\ea11";
}
.icon-undergroud-7:before {
  content: "\ea12";
}
.icon-windmill-7:before {
  content: "\ea13";
}
.icon-hour-7:before {
  content: "\ea14";
}
.icon-percent-sign-7:before {
  content: "\ea15";
}
.icon-alias-7:before {
  content: "\ea16";
}
.icon-ballot-7:before {
  content: "\ea17";
}
.icon-ballot-tick-7:before {
  content: "\ea18";
}
.icon-banner-stand-7:before {
  content: "\ea19";
}
.icon-bar-chart-7:before {
  content: "\ea1a";
}
.icon-bar-chart-side-7:before {
  content: "\ea1b";
}
.icon-barcode-7:before {
  content: "\ea1c";
}
.icon-bear-market-7:before {
  content: "\ea1d";
}
.icon-binocular-7:before {
  content: "\ea1e";
}
.icon-bull-market-7:before {
  content: "\ea1f";
}
.icon-business-bag-7:before {
  content: "\ea20";
}
.icon-business-box-7:before {
  content: "\ea21";
}
.icon-business-box-in-7:before {
  content: "\ea22";
}
.icon-business-box-out-7:before {
  content: "\ea23";
}
.icon-business-briefcase-7:before {
  content: "\ea24";
}
.icon-business-id-7:before {
  content: "\ea25";
}
.icon-business-id-tick-7:before {
  content: "\ea26";
}
.icon-business-note-7:before {
  content: "\ea27";
}
.icon-business-target-7:before {
  content: "\ea28";
}
.icon-business-tick-7:before {
  content: "\ea29";
}
.icon-calculator-7:before {
  content: "\ea2a";
}
.icon-chart-many-7:before {
  content: "\ea2b";
}
.icon-cheque-7:before {
  content: "\ea2c";
}
.icon-cheque-lock-7:before {
  content: "\ea2d";
}
.icon-cheque-tick-7:before {
  content: "\ea2e";
}
.icon-coin-7:before {
  content: "\ea2f";
}
.icon-coupon-7:before {
  content: "\ea30";
}
.icon-credit-card-7:before {
  content: "\ea31";
}
.icon-credit-card-insert-7:before {
  content: "\ea32";
}
.icon-credit-card-lock-7:before {
  content: "\ea33";
}
.icon-credit-card-tick-7:before {
  content: "\ea34";
}
.icon-diamond-7:before {
  content: "\ea35";
}
.icon-dollar-decor-7:before {
  content: "\ea36";
}
.icon-dot-chart-7:before {
  content: "\ea37";
}
.icon-downtrend-7:before {
  content: "\ea38";
}
.icon-drawer-7:before {
  content: "\ea39";
}
.icon-euro-decor-7:before {
  content: "\ea3a";
}
.icon-filing-7:before {
  content: "\ea3b";
}
.icon-filing-tick-7:before {
  content: "\ea3c";
}
.icon-gear-check-7:before {
  content: "\ea3d";
}
.icon-gift-7:before {
  content: "\ea3e";
}
.icon-globe-turn-7:before {
  content: "\ea3f";
}
.icon-gold-7:before {
  content: "\ea40";
}
.icon-graph-7:before {
  content: "\ea41";
}
.icon-handshake-7:before {
  content: "\ea42";
}
.icon-hierarchy-7:before {
  content: "\ea43";
}
.icon-judge-hammer-7:before {
  content: "\ea44";
}
.icon-money-7:before {
  content: "\ea45";
}
.icon-money-bag-7:before {
  content: "\ea46";
}
.icon-money-bag-euro-7:before {
  content: "\ea47";
}
.icon-money-bag-minus-7:before {
  content: "\ea48";
}
.icon-money-bag-off-7:before {
  content: "\ea49";
}
.icon-money-bag-plus-7:before {
  content: "\ea4a";
}
.icon-money-bag-pound-7:before {
  content: "\ea4b";
}
.icon-money-bag-tick-7:before {
  content: "\ea4c";
}
.icon-money-bag-yen-7:before {
  content: "\ea4d";
}
.icon-money-minus-7:before {
  content: "\ea4e";
}
.icon-money-off-7:before {
  content: "\ea4f";
}
.icon-money-plus-7:before {
  content: "\ea50";
}
.icon-money-rotate-7:before {
  content: "\ea51";
}
.icon-money-sign-7:before {
  content: "\ea52";
}
.icon-money-tick-7:before {
  content: "\ea53";
}
.icon-new-seal-7:before {
  content: "\ea54";
}
.icon-new-sign-7:before {
  content: "\ea55";
}
.icon-note-standard-7:before {
  content: "\ea56";
}
.icon-note-standard-tick-7:before {
  content: "\ea57";
}
.icon-note-write-7:before {
  content: "\ea58";
}
.icon-open-sign-7:before {
  content: "\ea59";
}
.icon-origami-7:before {
  content: "\ea5a";
}
.icon-paper-bag-7:before {
  content: "\ea5b";
}
.icon-paper-box-7:before {
  content: "\ea5c";
}
.icon-paper-box-minus-7:before {
  content: "\ea5d";
}
.icon-paper-box-off-7:before {
  content: "\ea5e";
}
.icon-paper-box-plus-7:before {
  content: "\ea5f";
}
.icon-paper-box-star-7:before {
  content: "\ea60";
}
.icon-paper-box-tick-7:before {
  content: "\ea61";
}
.icon-paper-plane-7:before {
  content: "\ea62";
}
.icon-paper-stack-7:before {
  content: "\ea63";
}
.icon-pen-standard-7:before {
  content: "\ea64";
}
.icon-percent-decor-7:before {
  content: "\ea65";
}
.icon-pie-chart-7:before {
  content: "\ea66";
}
.icon-pie-chart-portion-7:before {
  content: "\ea67";
}
.icon-pie-chart-tick-7:before {
  content: "\ea68";
}
.icon-piggy-bank-7:before {
  content: "\ea69";
}
.icon-pound-decor-7:before {
  content: "\ea6a";
}
.icon-presentation-7:before {
  content: "\ea6b";
}
.icon-presentation-tick-7:before {
  content: "\ea6c";
}
.icon-pushpin-7:before {
  content: "\ea6d";
}
.icon-pushpin-tick-7:before {
  content: "\ea6e";
}
.icon-puzzle-7:before {
  content: "\ea6f";
}
.icon-qr-code-7:before {
  content: "\ea70";
}
.icon-rosette-7:before {
  content: "\ea71";
}
.icon-safebox-7:before {
  content: "\ea72";
}
.icon-safebox-lock-7:before {
  content: "\ea73";
}
.icon-safebox-tick-7:before {
  content: "\ea74";
}
.icon-sale-sign-7:before {
  content: "\ea75";
}
.icon-scale-justice-7:before {
  content: "\ea76";
}
.icon-scissor-cut-7:before {
  content: "\ea77";
}
.icon-shopping-bag-7:before {
  content: "\ea78";
}
.icon-shopping-basket-7:before {
  content: "\ea79";
}
.icon-shopping-basket-minus-7:before {
  content: "\ea7a";
}
.icon-shopping-basket-off-7:before {
  content: "\ea7b";
}
.icon-shopping-basket-plus-7:before {
  content: "\ea7c";
}
.icon-shopping-basket-star-7:before {
  content: "\ea7d";
}
.icon-shopping-basket-tick-7:before {
  content: "\ea7e";
}
.icon-shopping-cart-7:before {
  content: "\ea7f";
}
.icon-sold-sign-7:before {
  content: "\ea80";
}
.icon-sticky-note-7:before {
  content: "\ea81";
}
.icon-sticky-note-tick-7:before {
  content: "\ea82";
}
.icon-tag-double-7:before {
  content: "\ea83";
}
.icon-tax-sign-7:before {
  content: "\ea84";
}
.icon-tie-7:before {
  content: "\ea85";
}
.icon-timetable-7:before {
  content: "\ea86";
}
.icon-timetable-tick-7:before {
  content: "\ea87";
}
.icon-uptrend-7:before {
  content: "\ea88";
}
.icon-wallet-7:before {
  content: "\ea89";
}
.icon-wallet-tick-7:before {
  content: "\ea8a";
}
.icon-yen-decor-7:before {
  content: "\ea8b";
}
.icon-circuit-board-7:before {
  content: "\ea8c";
}
.icon-computer-7:before {
  content: "\ea8d";
}
.icon-diskette-7:before {
  content: "\ea8e";
}
.icon-fax-7:before {
  content: "\ea8f";
}
.icon-game-controller-7:before {
  content: "\ea90";
}
.icon-hifi-speaker-7:before {
  content: "\ea91";
}
.icon-keyboard-7:before {
  content: "\ea92";
}
.icon-keyboard-down-7:before {
  content: "\ea93";
}
.icon-keyboard-up-7:before {
  content: "\ea94";
}
.icon-laptop-7:before {
  content: "\ea95";
}
.icon-laptop-connect-7:before {
  content: "\ea96";
}
.icon-laptop-server-connect-7:before {
  content: "\ea97";
}
.icon-mobile-7:before {
  content: "\ea98";
}
.icon-mobile-connect-7:before {
  content: "\ea99";
}
.icon-mobile-laptop-connect-7:before {
  content: "\ea9a";
}
.icon-mobile-many-7:before {
  content: "\ea9b";
}
.icon-mobile-message-7:before {
  content: "\ea9c";
}
.icon-mobile-off-7:before {
  content: "\ea9d";
}
.icon-mobile-server-connect-7:before {
  content: "\ea9e";
}
.icon-mobile-tablet-connect-7:before {
  content: "\ea9f";
}
.icon-mobile-tick-7:before {
  content: "\eaa0";
}
.icon-mobile-transfer-7:before {
  content: "\eaa1";
}
.icon-mobile-x-7:before {
  content: "\eaa2";
}
.icon-modem-7:before {
  content: "\eaa3";
}
.icon-monitor-7:before {
  content: "\eaa4";
}
.icon-mouse-controller-7:before {
  content: "\eaa5";
}
.icon-old-phone-7:before {
  content: "\eaa6";
}
.icon-old-tv-7:before {
  content: "\eaa7";
}
.icon-phablet-7:before {
  content: "\eaa8";
}
.icon-phablet-tick-7:before {
  content: "\eaa9";
}
.icon-phablet-write-7:before {
  content: "\eaaa";
}
.icon-printer-7:before {
  content: "\eaab";
}
.icon-processor-7:before {
  content: "\eaac";
}
.icon-radio-7:before {
  content: "\eaad";
}
.icon-server-7:before {
  content: "\eaae";
}
.icon-server-connect-7:before {
  content: "\eaaf";
}
.icon-server-download-7:before {
  content: "\eab0";
}
.icon-server-error-7:before {
  content: "\eab1";
}
.icon-server-lock-7:before {
  content: "\eab2";
}
.icon-server-minus-7:before {
  content: "\eab3";
}
.icon-server-network-7:before {
  content: "\eab4";
}
.icon-server-network-minus-7:before {
  content: "\eab5";
}
.icon-server-network-off-7:before {
  content: "\eab6";
}
.icon-server-network-plus-7:before {
  content: "\eab7";
}
.icon-server-network-star-7:before {
  content: "\eab8";
}
.icon-server-network-tick-7:before {
  content: "\eab9";
}
.icon-server-off-7:before {
  content: "\eaba";
}
.icon-server-plus-7:before {
  content: "\eabb";
}
.icon-server-star-7:before {
  content: "\eabc";
}
.icon-server-tick-7:before {
  content: "\eabd";
}
.icon-server-upload-7:before {
  content: "\eabe";
}
.icon-tablet-7:before {
  content: "\eabf";
}
.icon-tablet-off-7:before {
  content: "\eac0";
}
.icon-tablet-tick-7:before {
  content: "\eac1";
}
.icon-thumbdrive-7:before {
  content: "\eac2";
}
.icon-thumbdrive-tick-7:before {
  content: "\eac3";
}
.icon-toy-controller-7:before {
  content: "\eac4";
}
.icon-viewcam-7:before {
  content: "\eac5";
}
.icon-number-1over2-7:before {
  content: "\eac6";
}
.icon-number-1over3-7:before {
  content: "\eac7";
}
.icon-number-1over4-7:before {
  content: "\eac8";
}
.icon-compass-7:before {
  content: "\eac9";
}
.icon-compass-direction-7:before {
  content: "\eaca";
}
.icon-compass-north-7:before {
  content: "\eacb";
}
.icon-compass-point-7:before {
  content: "\eacc";
}
.icon-compass-point-error-7:before {
  content: "\eacd";
}
.icon-compass-point-off-7:before {
  content: "\eace";
}
.icon-compass-point-tick-7:before {
  content: "\eacf";
}
.icon-earth-america-7:before {
  content: "\ead0";
}
.icon-earth-america-tick-7:before {
  content: "\ead1";
}
.icon-earth-asia-7:before {
  content: "\ead2";
}
.icon-earth-asia-tick-7:before {
  content: "\ead3";
}
.icon-earth-europe-7:before {
  content: "\ead4";
}
.icon-earth-europe-tick-7:before {
  content: "\ead5";
}
.icon-earth-wireframe-7:before {
  content: "\ead6";
}
.icon-earth-wireframe-error-7:before {
  content: "\ead7";
}
.icon-earth-wireframe-off-7:before {
  content: "\ead8";
}
.icon-earth-wireframe-tick-7:before {
  content: "\ead9";
}
.icon-gas-station-7:before {
  content: "\eada";
}
.icon-map-draw-7:before {
  content: "\eadb";
}
.icon-map-draw-message-7:before {
  content: "\eadc";
}
.icon-map-draw-pin-7:before {
  content: "\eadd";
}
.icon-map-draw-pin-many-7:before {
  content: "\eade";
}
.icon-map-proximity-7:before {
  content: "\eadf";
}
.icon-meter-7:before {
  content: "\eae0";
}
.icon-meter-error-7:before {
  content: "\eae1";
}
.icon-meter-off-7:before {
  content: "\eae2";
}
.icon-meter-tick-7:before {
  content: "\eae3";
}
.icon-paper-map-7:before {
  content: "\eae4";
}
.icon-paper-map-download-7:before {
  content: "\eae5";
}
.icon-paper-map-error-7:before {
  content: "\eae6";
}
.icon-paper-map-lock-7:before {
  content: "\eae7";
}
.icon-paper-map-minus-7:before {
  content: "\eae8";
}
.icon-paper-map-off-7:before {
  content: "\eae9";
}
.icon-paper-map-plus-7:before {
  content: "\eaea";
}
.icon-paper-map-star-7:before {
  content: "\eaeb";
}
.icon-paper-map-tick-7:before {
  content: "\eaec";
}
.icon-paper-map-upload-7:before {
  content: "\eaed";
}
.icon-pin-map-7:before {
  content: "\eaee";
}
.icon-pin-map-area-7:before {
  content: "\eaef";
}
.icon-pin-map-distant-7:before {
  content: "\eaf0";
}
.icon-pin-map-down-7:before {
  content: "\eaf1";
}
.icon-pin-map-download-7:before {
  content: "\eaf2";
}
.icon-pin-map-error-7:before {
  content: "\eaf3";
}
.icon-pin-map-lock-7:before {
  content: "\eaf4";
}
.icon-pin-map-many-7:before {
  content: "\eaf5";
}
.icon-pin-map-many-area-7:before {
  content: "\eaf6";
}
.icon-pin-map-minus-7:before {
  content: "\eaf7";
}
.icon-pin-map-off-7:before {
  content: "\eaf8";
}
.icon-pin-map-plus-7:before {
  content: "\eaf9";
}
.icon-pin-map-star-7:before {
  content: "\eafa";
}
.icon-pin-map-tick-7:before {
  content: "\eafb";
}
.icon-pin-map-travel-7:before {
  content: "\eafc";
}
.icon-pin-map-upload-7:before {
  content: "\eafd";
}
.icon-road-7:before {
  content: "\eafe";
}
.icon-road-direction-7:before {
  content: "\eaff";
}
.icon-road-direction-two-7:before {
  content: "\eb00";
}
.icon-road-sign-7:before {
  content: "\eb01";
}
.icon-route-7:before {
  content: "\eb02";
}
.icon-route-66:before {
  content: "\eb03";
}
.icon-small-pin-area:before {
  content: "\eb04";
}
.icon-small-pin-map-7:before {
  content: "\eb05";
}
.icon-state-7:before {
  content: "\eb06";
}
.icon-state-95-7:before {
  content: "\eb07";
}
.icon-traffic-light-7:before {
  content: "\eb08";
}
.icon-aperture-7:before {
  content: "\eb09";
}
.icon-camera-7:before {
  content: "\eb0a";
}
.icon-camera-lens-7:before {
  content: "\eb0b";
}
.icon-camera-off-7:before {
  content: "\eb0c";
}
.icon-camera-tick-7:before {
  content: "\eb0d";
}
.icon-cd-7:before {
  content: "\eb0e";
}
.icon-cd-cover-7:before {
  content: "\eb0f";
}
.icon-cd-cover-many-7:before {
  content: "\eb10";
}
.icon-cd-tick-7:before {
  content: "\eb11";
}
.icon-director-clapboard-7:before {
  content: "\eb12";
}
.icon-drum-7:before {
  content: "\eb13";
}
.icon-dslr-7:before {
  content: "\eb14";
}
.icon-film-7:before {
  content: "\eb15";
}
.icon-film-minus-7:before {
  content: "\eb16";
}
.icon-film-off-7:before {
  content: "\eb17";
}
.icon-film-plus-7:before {
  content: "\eb18";
}
.icon-film-setting-7:before {
  content: "\eb19";
}
.icon-film-star-7:before {
  content: "\eb1a";
}
.icon-film-tick-7:before {
  content: "\eb1b";
}
.icon-guitar-string-7:before {
  content: "\eb1c";
}
.icon-headphone-7:before {
  content: "\eb1d";
}
.icon-mic-7:before {
  content: "\eb1e";
}
.icon-mic-off-7:before {
  content: "\eb1f";
}
.icon-microphone-7:before {
  content: "\eb20";
}
.icon-music-7:before {
  content: "\eb21";
}
.icon-music-file-7:before {
  content: "\eb22";
}
.icon-music-file-tick-7:before {
  content: "\eb23";
}
.icon-music-folder-7:before {
  content: "\eb24";
}
.icon-music-folder-tick-7:before {
  content: "\eb25";
}
.icon-music-list-7:before {
  content: "\eb26";
}
.icon-music-minus-7:before {
  content: "\eb27";
}
.icon-music-off-7:before {
  content: "\eb28";
}
.icon-music-plus-7:before {
  content: "\eb29";
}
.icon-music-star-7:before {
  content: "\eb2a";
}
.icon-music-tick-7:before {
  content: "\eb2b";
}
.icon-photo-7-minus:before {
  content: "\eb2c";
}
.icon-photo-7-plus:before {
  content: "\eb2d";
}
.icon-photo-7:before {
  content: "\eb2e";
}
.icon-photo-book-7:before {
  content: "\eb2f";
}
.icon-photo-book-tick-7:before {
  content: "\eb30";
}
.icon-photo-many-7:before {
  content: "\eb31";
}
.icon-photo-off-7:before {
  content: "\eb32";
}
.icon-photo-star-7:before {
  content: "\eb33";
}
.icon-photo-tick-7:before {
  content: "\eb34";
}
.icon-photo-two-7:before {
  content: "\eb35";
}
.icon-piano-key-7:before {
  content: "\eb36";
}
.icon-play-button-7:before {
  content: "\eb37";
}
.icon-power-button-7:before {
  content: "\eb38";
}
.icon-speaker-7:before {
  content: "\eb39";
}
.icon-speaker-bass-7:before {
  content: "\eb3a";
}
.icon-speaker-minus-7:before {
  content: "\eb3b";
}
.icon-speaker-off-7:before {
  content: "\eb3c";
}
.icon-speaker-plus-7:before {
  content: "\eb3d";
}
.icon-speaker-sound-7:before {
  content: "\eb3e";
}
.icon-subtitle-7:before {
  content: "\eb3f";
}
.icon-subtitle-many-7:before {
  content: "\eb40";
}
.icon-tripod-7:before {
  content: "\eb41";
}
.icon-tune-adjust-7:before {
  content: "\eb42";
}
.icon-tune-adjust-side-7:before {
  content: "\eb43";
}
.icon-tune-beat-7:before {
  content: "\eb44";
}
.icon-tuner-7:before {
  content: "\eb45";
}
.icon-video-camera-7:before {
  content: "\eb46";
}
.icon-video-camera-big-7:before {
  content: "\eb47";
}
.icon-video-camera-off-7:before {
  content: "\eb48";
}
.icon-video-camera-tick-7:before {
  content: "\eb49";
}
.icon-video-player-7:before {
  content: "\eb4a";
}
.icon-video-player-many-7:before {
  content: "\eb4b";
}
.icon-volume-7:before {
  content: "\eb4c";
}
.icon-atom-7:before {
  content: "\eb4d";
}
.icon-atom-bind-7:before {
  content: "\eb4e";
}
.icon-atom-combo-7:before {
  content: "\eb4f";
}
.icon-cloudy-7:before {
  content: "\eb50";
}
.icon-cloudy-many-7:before {
  content: "\eb51";
}
.icon-solar-system-7:before {
  content: "\eb52";
}
.icon-abc-block-7:before {
  content: "\eb53";
}
.icon-bomb-7:before {
  content: "\eb54";
}
.icon-brick-wall-7:before {
  content: "\eb55";
}
.icon-cctv-7:before {
  content: "\eb56";
}
.icon-fan-7:before {
  content: "\eb57";
}
.icon-pipe-7:before {
  content: "\eb58";
}
.icon-scale-7:before {
  content: "\eb59";
}
.icon-shield-7:before {
  content: "\eb5a";
}
.icon-tyre-7:before {
  content: "\eb5b";
}
.icon-d-7:before {
  content: "\eb5c";
}
.icon-d-pyramid-7:before {
  content: "\eb5d";
}
.icon-d-sphere-7:before {
  content: "\eb5e";
}
.icon-d-transparent-1-7:before {
  content: "\eb5f";
}
.icon-d-transparent-2-7:before {
  content: "\eb60";
}
.icon-anchorpoint-7:before {
  content: "\eb61";
}
.icon-angle-7:before {
  content: "\eb62";
}
.icon-area-select-7:before {
  content: "\eb63";
}
.icon-bin-7:before {
  content: "\eb64";
}
.icon-bin-tick-7:before {
  content: "\eb65";
}
.icon-circle-7:before {
  content: "\eb66";
}
.icon-circle-dot-7:before {
  content: "\eb67";
}
.icon-circle-many-7:before {
  content: "\eb68";
}
.icon-circle-nine-7:before {
  content: "\eb69";
}
.icon-circle-nine-connect-7:before {
  content: "\eb6a";
}
.icon-circle-overlap-7:before {
  content: "\eb6b";
}
.icon-close-7:before {
  content: "\eb6c";
}
.icon-color-brush-7:before {
  content: "\eb6d";
}
.icon-color-palette-7:before {
  content: "\eb6e";
}
.icon-compass-mathematical-7:before {
  content: "\eb6f";
}
.icon-compound-1-7:before {
  content: "\eb70";
}
.icon-compound-2-7:before {
  content: "\eb71";
}
.icon-compound-3-7:before {
  content: "\eb72";
}
.icon-crop-7:before {
  content: "\eb73";
}
.icon-cube-7:before {
  content: "\eb74";
}
.icon-cube-tick-7:before {
  content: "\eb75";
}
.icon-door-in-7:before {
  content: "\eb76";
}
.icon-door-out-7:before {
  content: "\eb77";
}
.icon-download-7:before {
  content: "\eb78";
}
.icon-dropper-7:before {
  content: "\eb79";
}
.icon-embed-7:before {
  content: "\eb7a";
}
.icon-eraser-7:before {
  content: "\eb7b";
}
.icon-feather-pen-7:before {
  content: "\eb7c";
}
.icon-finger-point-side-7:before {
  content: "\eb7d";
}
.icon-finger-point-top-7:before {
  content: "\eb7e";
}
.icon-finger-press-7:before {
  content: "\eb7f";
}
.icon-fountain-pen-7:before {
  content: "\eb80";
}
.icon-funnel-7:before {
  content: "\eb81";
}
.icon-grab-7:before {
  content: "\eb82";
}
.icon-grid-out-7:before {
  content: "\eb83";
}
.icon-grid-out-many-7:before {
  content: "\eb84";
}
.icon-hammer-7:before {
  content: "\eb85";
}
.icon-hexagon-7:before {
  content: "\eb86";
}
.icon-lasso-7:before {
  content: "\eb87";
}
.icon-lasso-select-7:before {
  content: "\eb88";
}
.icon-layer-7:before {
  content: "\eb89";
}
.icon-layer-down-7:before {
  content: "\eb8a";
}
.icon-layer-lock-7:before {
  content: "\eb8b";
}
.icon-layer-many-7:before {
  content: "\eb8c";
}
.icon-layer-minus-7:before {
  content: "\eb8d";
}
.icon-layer-off-7:before {
  content: "\eb8e";
}
.icon-layer-plus-7:before {
  content: "\eb8f";
}
.icon-layer-star-7:before {
  content: "\eb90";
}
.icon-layer-tick-7:before {
  content: "\eb91";
}
.icon-layer-up-7:before {
  content: "\eb92";
}
.icon-layout-arrange-01-7:before {
  content: "\eb93";
}
.icon-layout-arrange-02-7:before {
  content: "\eb94";
}
.icon-layout-arrange-03-7:before {
  content: "\eb95";
}
.icon-layout-arrange-04-7:before {
  content: "\eb96";
}
.icon-layout-arrange-05-7:before {
  content: "\eb97";
}
.icon-layout-arrange-06-7:before {
  content: "\eb98";
}
.icon-layout-arrange-07-7:before {
  content: "\eb99";
}
.icon-layout-arrange-08-7:before {
  content: "\eb9a";
}
.icon-layout-arrange-09-7:before {
  content: "\eb9b";
}
.icon-layout-arrange-10-7:before {
  content: "\eb9c";
}
.icon-layout-arrange-11-7:before {
  content: "\eb9d";
}
.icon-layout-arrange-12-7:before {
  content: "\eb9e";
}
.icon-layout-arrange-13-7:before {
  content: "\eb9f";
}
.icon-layout-arrange-14-7:before {
  content: "\eba0";
}
.icon-layout-arrange-15-7:before {
  content: "\eba1";
}
.icon-layout-arrange-16-7:before {
  content: "\eba2";
}
.icon-layout-arrange-17-7:before {
  content: "\eba3";
}
.icon-layout-arrange-18-7:before {
  content: "\eba4";
}
.icon-layout-arrange-19-7:before {
  content: "\eba5";
}
.icon-layout-arrange-20-7:before {
  content: "\eba6";
}
.icon-line-7:before {
  content: "\eba7";
}
.icon-magic-wand-7:before {
  content: "\eba8";
}
.icon-magnet-7:before {
  content: "\eba9";
}
.icon-magnifying-glass-7:before {
  content: "\ebaa";
}
.icon-magnifying-glass-plus-7:before {
  content: "\ebab";
}
.icon-magnifying-minus-7:before {
  content: "\ebac";
}
.icon-minus-sign-7:before {
  content: "\ebad";
}
.icon-open-7:before {
  content: "\ebae";
}
.icon-paint-roller-7:before {
  content: "\ebaf";
}
.icon-paint-tank-7:before {
  content: "\ebb0";
}
.icon-paint-tank-pour-7:before {
  content: "\ebb1";
}
.icon-paintbrush-7:before {
  content: "\ebb2";
}
.icon-paper-clip-7:before {
  content: "\ebb3";
}
.icon-paper-clip-tick-7:before {
  content: "\ebb4";
}
.icon-pencil-7:before {
  content: "\ebb5";
}
.icon-pencil-minus-7:before {
  content: "\ebb6";
}
.icon-pencil-plus-7:before {
  content: "\ebb7";
}
.icon-pencil-star-7:before {
  content: "\ebb8";
}
.icon-pencil-tick-7:before {
  content: "\ebb9";
}
.icon-plus-sign-7:before {
  content: "\ebba";
}
.icon-pointer-7:before {
  content: "\ebbb";
}
.icon-pointer-minus-7:before {
  content: "\ebbc";
}
.icon-pointer-plus-7:before {
  content: "\ebbd";
}
.icon-rectangle-7:before {
  content: "\ebbe";
}
.icon-rectangle-dot-7:before {
  content: "\ebbf";
}
.icon-rubber-stamp-7:before {
  content: "\ebc0";
}
.icon-ruler-7:before {
  content: "\ebc1";
}
.icon-saw-cutter-7:before {
  content: "\ebc2";
}
.icon-scale-large-7:before {
  content: "\ebc3";
}
.icon-scale-small-7:before {
  content: "\ebc4";
}
.icon-scissor-7:before {
  content: "\ebc5";
}
.icon-scissor-cut-72:before {
  content: "\ebc6";
}
.icon-screwdriver-7:before {
  content: "\ebc7";
}
.icon-slicer-7:before {
  content: "\ebc8";
}
.icon-spanner-7:before {
  content: "\ebc9";
}
.icon-spanner-screwdriver-7:before {
  content: "\ebca";
}
.icon-spiral-7:before {
  content: "\ebcb";
}
.icon-sprayer-7:before {
  content: "\ebcc";
}
.icon-square-72:before {
  content: "\ebcd";
}
.icon-square-compound-7:before {
  content: "\ebce";
}
.icon-square-dot-7:before {
  content: "\ebcf";
}
.icon-square-four-7:before {
  content: "\ebd0";
}
.icon-square-half-7:before {
  content: "\ebd1";
}
.icon-square-individual-four-7:before {
  content: "\ebd2";
}
.icon-square-individual-nine-7:before {
  content: "\ebd3";
}
.icon-square-individual-nine-connect-7:before {
  content: "\ebd4";
}
.icon-square-layer-7:before {
  content: "\ebd5";
}
.icon-square-nine-7:before {
  content: "\ebd6";
}
.icon-square-round-7:before {
  content: "\ebd7";
}
.icon-star-rate-7:before {
  content: "\ebd8";
}
.icon-star-rate-minus-7:before {
  content: "\ebd9";
}
.icon-star-rate-plus-7:before {
  content: "\ebda";
}
.icon-star-rate-tick-7:before {
  content: "\ebdb";
}
.icon-target-round-7:before {
  content: "\ebdc";
}
.icon-target-square-7:before {
  content: "\ebdd";
}
.icon-text-align-center-7:before {
  content: "\ebde";
}
.icon-text-align-justify-7:before {
  content: "\ebdf";
}
.icon-text-align-left-7:before {
  content: "\ebe0";
}
.icon-text-align-right-7:before {
  content: "\ebe1";
}
.icon-text-area-7:before {
  content: "\ebe2";
}
.icon-text-list-7:before {
  content: "\ebe3";
}
.icon-text-select-7:before {
  content: "\ebe4";
}
.icon-text-select-tick-7:before {
  content: "\ebe5";
}
.icon-tick-square-7:before {
  content: "\ebe6";
}
.icon-tree-folder-7:before {
  content: "\ebe7";
}
.icon-triangle-7:before {
  content: "\ebe8";
}
.icon-triangle-90-7:before {
  content: "\ebe9";
}
.icon-upload-7:before {
  content: "\ebea";
}
.icon-vector-7:before {
  content: "\ebeb";
}
.icon-vector-point-7:before {
  content: "\ebec";
}
.icon-window-7:before {
  content: "\ebed";
}
.icon-window-code-7:before {
  content: "\ebee";
}
.icon-window-down-7:before {
  content: "\ebef";
}
.icon-window-lock-7:before {
  content: "\ebf0";
}
.icon-window-minus-7:before {
  content: "\ebf1";
}
.icon-window-off-7:before {
  content: "\ebf2";
}
.icon-window-plus-7:before {
  content: "\ebf3";
}
.icon-window-star-7:before {
  content: "\ebf4";
}
.icon-window-three-7:before {
  content: "\ebf5";
}
.icon-window-tick-7:before {
  content: "\ebf6";
}
.icon-window-two-7:before {
  content: "\ebf7";
}
.icon-window-up-7:before {
  content: "\ebf8";
}
.icon-window-within-7:before {
  content: "\ebf9";
}
.icon-around-7:before {
  content: "\ebfa";
}
.icon-around-72:before {
  content: "\ebfb";
}
.icon-around-73:before {
  content: "\ebfc";
}
.icon-around-74:before {
  content: "\ebfd";
}
.icon-to-5-around-7:before {
  content: "\ebfe";
}
.icon-around-75:before {
  content: "\ebff";
}
.icon-around-76:before {
  content: "\ec00";
}
.icon-around-77:before {
  content: "\ec01";
}
.icon-around-78:before {
  content: "\ec02";
}
.icon-7-around-7:before {
  content: "\ec03";
}
.icon-around-79:before {
  content: "\ec04";
}
.icon-around-710:before {
  content: "\ec05";
}
.icon-around-711:before {
  content: "\ec06";
}
.icon-around-712:before {
  content: "\ec07";
}
.icon-around-713:before {
  content: "\ec08";
}
.icon-air-bus-7:before {
  content: "\ec09";
}
.icon-air-bus-side-7:before {
  content: "\ec0a";
}
.icon-airplane-ascending-7:before {
  content: "\ec0b";
}
.icon-airplane-descending-7:before {
  content: "\ec0c";
}
.icon-airplane-symbol-7:before {
  content: "\ec0d";
}
.icon-airplane-symbol-off-7:before {
  content: "\ec0e";
}
.icon-bicycle-7:before {
  content: "\ec0f";
}
.icon-boat-7:before {
  content: "\ec10";
}
.icon-bus-7:before {
  content: "\ec11";
}
.icon-car-7:before {
  content: "\ec12";
}
.icon-car-minus-7:before {
  content: "\ec13";
}
.icon-car-off-7:before {
  content: "\ec14";
}
.icon-car-plus-7:before {
  content: "\ec15";
}
.icon-car-side-7:before {
  content: "\ec16";
}
.icon-car-star-7:before {
  content: "\ec17";
}
.icon-car-tick-7:before {
  content: "\ec18";
}
.icon-earth-america-turn-7:before {
  content: "\ec19";
}
.icon-earth-asia-turn-7:before {
  content: "\ec1a";
}
.icon-earth-europe-turn-7:before {
  content: "\ec1b";
}
.icon-forklift-7:before {
  content: "\ec1c";
}
.icon-four-wheel-drive-7:before {
  content: "\ec1d";
}
.icon-helicopter-7:before {
  content: "\ec1e";
}
.icon-hot-air-balloon-7:before {
  content: "\ec1f";
}
.icon-logistic-cart-7:before {
  content: "\ec20";
}
.icon-lorry-7:before {
  content: "\ec21";
}
.icon-lorry-big-7:before {
  content: "\ec22";
}
.icon-motorcycle-7:before {
  content: "\ec23";
}
.icon-paper-box-72:before {
  content: "\ec24";
}
.icon-paper-box-minus-72:before {
  content: "\ec25";
}
.icon-paper-box-off-72:before {
  content: "\ec26";
}
.icon-paper-box-open-7:before {
  content: "\ec27";
}
.icon-paper-box-plus-72:before {
  content: "\ec28";
}
.icon-paper-box-star-72:before {
  content: "\ec29";
}
.icon-paper-box-tick-72:before {
  content: "\ec2a";
}
.icon-propeller-plane-7:before {
  content: "\ec2b";
}
.icon-radar-tower-7:before {
  content: "\ec2c";
}
.icon-satellite-7:before {
  content: "\ec2d";
}
.icon-taxi-7:before {
  content: "\ec2e";
}
.icon-tow-truck-7:before {
  content: "\ec2f";
}
.icon-truck-7:before {
  content: "\ec30";
}
.icon-van-7:before {
  content: "\ec31";
}
.icon-wooden-box-7:before {
  content: "\ec32";
}
.icon-wooden-box-minus-7:before {
  content: "\ec33";
}
.icon-wooden-box-off-7:before {
  content: "\ec34";
}
.icon-wooden-box-plus-7:before {
  content: "\ec35";
}
.icon-wooden-box-star-7:before {
  content: "\ec36";
}
.icon-wooden-box-tick-7:before {
  content: "\ec37";
}
.icon-album-simple-7:before {
  content: "\ec38";
}
.icon-app-7:before {
  content: "\ec39";
}
.icon-battery-7:before {
  content: "\ec3a";
}
.icon-battery-cable-7:before {
  content: "\ec3b";
}
.icon-battery-minus-7:before {
  content: "\ec3c";
}
.icon-battery-off-7:before {
  content: "\ec3d";
}
.icon-battery-plus-7:before {
  content: "\ec3e";
}
.icon-battery-tick-7:before {
  content: "\ec3f";
}
.icon-bell-7:before {
  content: "\ec40";
}
.icon-bell-off-7:before {
  content: "\ec41";
}
.icon-bell-tick-7:before {
  content: "\ec42";
}
.icon-bluetooth-7:before {
  content: "\ec43";
}
.icon-book-simple-7:before {
  content: "\ec44";
}
.icon-bookmark-7:before {
  content: "\ec45";
}
.icon-bookmark-tick-7:before {
  content: "\ec46";
}
.icon-box-incoming-7:before {
  content: "\ec47";
}
.icon-box-outgoing-7:before {
  content: "\ec48";
}
.icon-bright-7:before {
  content: "\ec49";
}
.icon-calculator-app-7:before {
  content: "\ec4a";
}
.icon-calendar-7:before {
  content: "\ec4b";
}
.icon-calendar-minus-7:before {
  content: "\ec4c";
}
.icon-calendar-off-7:before {
  content: "\ec4d";
}
.icon-calendar-plus-7:before {
  content: "\ec4e";
}
.icon-calendar-star-7:before {
  content: "\ec4f";
}
.icon-calendar-tick-7:before {
  content: "\ec50";
}
.icon-circle-close-7:before {
  content: "\ec51";
}
.icon-circle-info-7:before {
  content: "\ec52";
}
.icon-circle-many-random-7:before {
  content: "\ec53";
}
.icon-circle-minus-7:before {
  content: "\ec54";
}
.icon-circle-no-7:before {
  content: "\ec55";
}
.icon-circle-question-7:before {
  content: "\ec56";
}
.icon-circle-quote-7:before {
  content: "\ec57";
}
.icon-circle-tick-7:before {
  content: "\ec58";
}
.icon-circle-x-7:before {
  content: "\ec59";
}
.icon-clock-7:before {
  content: "\ec5a";
}
.icon-clock-alarm-7:before {
  content: "\ec5b";
}
.icon-clock-stopwatch-7:before {
  content: "\ec5c";
}
.icon-clock-timer-7:before {
  content: "\ec5d";
}
.icon-cloud-download-7:before {
  content: "\ec5e";
}
.icon-cloud-minus-7:before {
  content: "\ec5f";
}
.icon-cloud-off-7:before {
  content: "\ec60";
}
.icon-cloud-plus-7:before {
  content: "\ec61";
}
.icon-cloud-star-7:before {
  content: "\ec62";
}
.icon-cloud-tick-7:before {
  content: "\ec63";
}
.icon-cloud-upload-7:before {
  content: "\ec64";
}
.icon-clould-7:before {
  content: "\ec65";
}
.icon-color-rgb-7:before {
  content: "\ec66";
}
.icon-command-7:before {
  content: "\ec67";
}
.icon-connectivity-bar-7:before {
  content: "\ec68";
}
.icon-construction-barrier-7:before {
  content: "\ec69";
}
.icon-construction-cone-7:before {
  content: "\ec6a";
}
.icon-contrast-7:before {
  content: "\ec6b";
}
.icon-crown-7:before {
  content: "\ec6c";
}
.icon-dot-more-7:before {
  content: "\ec6d";
}
.icon-download-box-7:before {
  content: "\ec6e";
}
.icon-electric-7:before {
  content: "\ec6f";
}
.icon-electric-off-7:before {
  content: "\ec70";
}
.icon-electric-tick-7:before {
  content: "\ec71";
}
.icon-email-7:before {
  content: "\ec72";
}
.icon-email-minus-7:before {
  content: "\ec73";
}
.icon-email-plus-7:before {
  content: "\ec74";
}
.icon-email-star-7:before {
  content: "\ec75";
}
.icon-email-tick-7:before {
  content: "\ec76";
}
.icon-error-7:before {
  content: "\ec77";
}
.icon-explode-share-7:before {
  content: "\ec78";
}
.icon-eye-7-off:before {
  content: "\ec79";
}
.icon-eye-7:before {
  content: "\ec7a";
}
.icon-flag-7:before {
  content: "\ec7b";
}
.icon-games-abstract-7:before {
  content: "\ec7c";
}
.icon-gear-7:before {
  content: "\ec7d";
}
.icon-gear-big-7:before {
  content: "\ec7e";
}
.icon-gear-big-off-7:before {
  content: "\ec7f";
}
.icon-gear-big-tick-7:before {
  content: "\ec80";
}
.icon-gear-tick-7:before {
  content: "\ec81";
}
.icon-gear-tick-off-7:before {
  content: "\ec82";
}
.icon-gear-two-7:before {
  content: "\ec83";
}
.icon-glasses-7:before {
  content: "\ec84";
}
.icon-heart-7:before {
  content: "\ec85";
}
.icon-heart-minus-7:before {
  content: "\ec86";
}
.icon-heart-off-7:before {
  content: "\ec87";
}
.icon-heart-plus-7:before {
  content: "\ec88";
}
.icon-heart-star-7:before {
  content: "\ec89";
}
.icon-heart-tick-7:before {
  content: "\ec8a";
}
.icon-home-7:before {
  content: "\ec8b";
}
.icon-home-bird-7:before {
  content: "\ec8c";
}
.icon-home-tick-7:before {
  content: "\ec8d";
}
.icon-key-antique-7:before {
  content: "\ec8e";
}
.icon-keyhole-7:before {
  content: "\ec8f";
}
.icon-lifebuoy-7:before {
  content: "\ec90";
}
.icon-lifebuoy-tick-7:before {
  content: "\ec91";
}
.icon-light-big-7:before {
  content: "\ec92";
}
.icon-lightbulb-7:before {
  content: "\ec93";
}
.icon-lightbulb-off-7:before {
  content: "\ec94";
}
.icon-lightbulb-tick-7:before {
  content: "\ec95";
}
.icon-link-7:before {
  content: "\ec96";
}
.icon-link-broken-7:before {
  content: "\ec97";
}
.icon-link-minus-7:before {
  content: "\ec98";
}
.icon-link-off-7:before {
  content: "\ec99";
}
.icon-link-plus-7:before {
  content: "\ec9a";
}
.icon-link-star-7:before {
  content: "\ec9b";
}
.icon-link-tick-7:before {
  content: "\ec9c";
}
.icon-list-fat-7:before {
  content: "\ec9d";
}
.icon-list-simple-7:before {
  content: "\ec9e";
}
.icon-list-simple-star-7:before {
  content: "\ec9f";
}
.icon-lock-7:before {
  content: "\eca0";
}
.icon-lock-off-7:before {
  content: "\eca1";
}
.icon-lock-open-7:before {
  content: "\eca2";
}
.icon-lock-tick-7:before {
  content: "\eca3";
}
.icon-loudspeaker-7:before {
  content: "\eca4";
}
.icon-medal-star-7:before {
  content: "\eca5";
}
.icon-message-7:before {
  content: "\eca6";
}
.icon-message-lock-7:before {
  content: "\eca7";
}
.icon-message-minus-7:before {
  content: "\eca8";
}
.icon-message-off-7:before {
  content: "\eca9";
}
.icon-message-plus-7:before {
  content: "\ecaa";
}
.icon-message-star-7:before {
  content: "\ecab";
}
.icon-message-three-7:before {
  content: "\ecac";
}
.icon-message-tick-7:before {
  content: "\ecad";
}
.icon-message-two-7:before {
  content: "\ecae";
}
.icon-minus-simple-7:before {
  content: "\ecaf";
}
.icon-newspaper-7:before {
  content: "\ecb0";
}
.icon-night-7:before {
  content: "\ecb1";
}
.icon-notification-board-7:before {
  content: "\ecb2";
}
.icon-orientation-lock-7:before {
  content: "\ecb3";
}
.icon-photo-abstract-7:before {
  content: "\ecb4";
}
.icon-photos-simple-7:before {
  content: "\ecb5";
}
.icon-plus-simple-7:before {
  content: "\ecb6";
}
.icon-puzzle-piece-7:before {
  content: "\ecb7";
}
.icon-receiver-7:before {
  content: "\ecb8";
}
.icon-recorder-7:before {
  content: "\ecb9";
}
.icon-rss-7:before {
  content: "\ecba";
}
.icon-sand-clock-7:before {
  content: "\ecbb";
}
.icon-search-7:before {
  content: "\ecbc";
}
.icon-search-detail-7:before {
  content: "\ecbd";
}
.icon-share-7:before {
  content: "\ecbe";
}
.icon-share-connect-7:before {
  content: "\ecbf";
}
.icon-share-connectivity-7:before {
  content: "\ecc0";
}
.icon-star-7:before {
  content: "\ecc1";
}
.icon-star-circle-7:before {
  content: "\ecc2";
}
.icon-sticker-7:before {
  content: "\ecc3";
}
.icon-tag-7:before {
  content: "\ecc4";
}
.icon-tag-minus-7:before {
  content: "\ecc5";
}
.icon-tag-multiple-7:before {
  content: "\ecc6";
}
.icon-tag-off-7:before {
  content: "\ecc7";
}
.icon-tag-plus-7:before {
  content: "\ecc8";
}
.icon-tag-star-7:before {
  content: "\ecc9";
}
.icon-tag-tick-7:before {
  content: "\ecca";
}
.icon-telephone-7:before {
  content: "\eccb";
}
.icon-telephone-circle-7:before {
  content: "\eccc";
}
.icon-telephone-circle-off-7:before {
  content: "\eccd";
}
.icon-telephone-circle-tick-7:before {
  content: "\ecce";
}
.icon-telephone-in-7:before {
  content: "\eccf";
}
.icon-telephone-out-7:before {
  content: "\ecd0";
}
.icon-thinking-7:before {
  content: "\ecd1";
}
.icon-thumb-down-7:before {
  content: "\ecd2";
}
.icon-thumb-up-7:before {
  content: "\ecd3";
}
.icon-torch-light-7:before {
  content: "\ecd4";
}
.icon-trophy-7:before {
  content: "\ecd5";
}
.icon-umbrella-7:before {
  content: "\ecd6";
}
.icon-update-7:before {
  content: "\ecd7";
}
.icon-upload-box-7:before {
  content: "\ecd8";
}
.icon-viewer-7:before {
  content: "\ecd9";
}
.icon-wifi-signal-7:before {
  content: "\ecda";
}
.icon-write-simple-7:before {
  content: "\ecdb";
}
.icon-arrow-cross-7:before {
  content: "\ecdc";
}
.icon-arrow-down-7:before {
  content: "\ecdd";
}
.icon-arrow-enter-left-7:before {
  content: "\ecde";
}
.icon-arrow-enter-right-7:before {
  content: "\ecdf";
}
.icon-arrow-expand-7:before {
  content: "\ece0";
}
.icon-arrow-explode-7:before {
  content: "\ece1";
}
.icon-arrow-fat-backward-7:before {
  content: "\ece2";
}
.icon-arrow-fat-down-7:before {
  content: "\ece3";
}
.icon-arrow-fat-forward-7:before {
  content: "\ece4";
}
.icon-arrow-fat-left-7:before {
  content: "\ece5";
}
.icon-arrow-fat-navigate-7:before {
  content: "\ece6";
}
.icon-arrow-fat-right-7:before {
  content: "\ece7";
}
.icon-arrow-fat-shrink-7:before {
  content: "\ece8";
}
.icon-arrow-fat-turn-left-7:before {
  content: "\ece9";
}
.icon-arrow-fat-turn-right-7:before {
  content: "\ecea";
}
.icon-arrow-fat-up-7:before {
  content: "\eceb";
}
.icon-arrow-left-7:before {
  content: "\ecec";
}
.icon-arrow-navigate-7:before {
  content: "\eced";
}
.icon-arrow-repeat-7:before {
  content: "\ecee";
}
.icon-arrow-repeat-square-7:before {
  content: "\ecef";
}
.icon-arrow-repeat-two-7:before {
  content: "\ecf0";
}
.icon-arrow-right-7:before {
  content: "\ecf1";
}
.icon-arrow-s-7:before {
  content: "\ecf2";
}
.icon-arrow-s-tilt-7:before {
  content: "\ecf3";
}
.icon-arrow-semi-backward-7:before {
  content: "\ecf4";
}
.icon-arrow-semi-forward-7:before {
  content: "\ecf5";
}
.icon-arrow-shrink-7:before {
  content: "\ecf6";
}
.icon-arrow-shuffle-7:before {
  content: "\ecf7";
}
.icon-arrow-split-7:before {
  content: "\ecf8";
}
.icon-arrow-swirl-up-7:before {
  content: "\ecf9";
}
.icon-arrow-u-backward-7:before {
  content: "\ecfa";
}
.icon-arrow-u-forward-7:before {
  content: "\ecfb";
}
.icon-arrow-up-7:before {
  content: "\ecfc";
}
.icon-button-eject-7:before {
  content: "\ecfd";
}
.icon-button-fast-backward-7:before {
  content: "\ecfe";
}
.icon-button-fast-forward-7:before {
  content: "\ecff";
}
.icon-button-next-7:before {
  content: "\ed00";
}
.icon-button-next-skip-7:before {
  content: "\ed01";
}
.icon-button-pause-7:before {
  content: "\ed02";
}
.icon-button-play-7:before {
  content: "\ed03";
}
.icon-button-previous-7:before {
  content: "\ed04";
}
.icon-button-previous-skip-7:before {
  content: "\ed05";
}
.icon-button-record-7:before {
  content: "\ed06";
}
.icon-button-stop-7:before {
  content: "\ed07";
}
.icon-circle-arrow-left-in-two-7:before {
  content: "\ed08";
}
.icon-circle-arrow-left-right-7:before {
  content: "\ed09";
}
.icon-circle-arrow-left-two-7:before {
  content: "\ed0a";
}
.icon-circle-arrow-out-left-right-7:before {
  content: "\ed0b";
}
.icon-circle-arrow-out-top-down-7:before {
  content: "\ed0c";
}
.icon-circle-arrow-out-top-left-7:before {
  content: "\ed0d";
}
.icon-circle-arrow-out-top-right-7:before {
  content: "\ed0e";
}
.icon-circle-arrow-right-in-two-7:before {
  content: "\ed0f";
}
.icon-circle-arrow-right-two-7:before {
  content: "\ed10";
}
.icon-circle-arrow-top-down-7:before {
  content: "\ed11";
}
.icon-connect-arrow-down-7:before {
  content: "\ed12";
}
.icon-connect-arrow-down-left-7:before {
  content: "\ed13";
}
.icon-connect-arrow-down-right-7:before {
  content: "\ed14";
}
.icon-connect-arrow-left-7:before {
  content: "\ed15";
}
.icon-connect-arrow-left-right-7:before {
  content: "\ed16";
}
.icon-connect-arrow-right-7:before {
  content: "\ed17";
}
.icon-connect-arrow-up-7:before {
  content: "\ed18";
}
.icon-connect-arrow-up-down-7:before {
  content: "\ed19";
}
.icon-connect-arrow-up-left-7:before {
  content: "\ed1a";
}
.icon-connect-arrow-up-right-7:before {
  content: "\ed1b";
}
.icon-half-arrow-down-7:before {
  content: "\ed1c";
}
.icon-half-arrow-down-circle-7:before {
  content: "\ed1d";
}
.icon-half-arrow-left-7:before {
  content: "\ed1e";
}
.icon-half-arrow-left-circle-7:before {
  content: "\ed1f";
}
.icon-half-arrow-right-7:before {
  content: "\ed20";
}
.icon-half-arrow-right-circle-7:before {
  content: "\ed21";
}
.icon-half-arrow-up-7:before {
  content: "\ed22";
}
.icon-half-arrow-up-circle-7:before {
  content: "\ed23";
}
.icon-infinity-7:before {
  content: "\ed24";
}
.icon-unique-down-7:before {
  content: "\ed25";
}
.icon-unique-down-in-7:before {
  content: "\ed26";
}
.icon-unique-left-right-in-7:before {
  content: "\ed27";
}
.icon-unique-left-right-out-7:before {
  content: "\ed28";
}
.icon-unique-navigate-7:before {
  content: "\ed29";
}
.icon-unique-up-7:before {
  content: "\ed2a";
}
.icon-unique-up-in-7:before {
  content: "\ed2b";
}
.icon-number:before {
  content: "\ed2c";
}
.icon-number2:before {
  content: "\ed2d";
}
.icon-number3:before {
  content: "\ed2e";
}
.icon-number4:before {
  content: "\ed2f";
}
.icon-number5:before {
  content: "\ed30";
}
.icon-number6:before {
  content: "\ed31";
}
.icon-number7:before {
  content: "\ed32";
}
.icon-number8:before {
  content: "\ed33";
}
.icon-number9:before {
  content: "\ed34";
}
.icon-number10:before {
  content: "\ed35";
}
.icon-number11:before {
  content: "\ed36";
}
.icon-number12:before {
  content: "\ed37";
}
.icon-number13:before {
  content: "\ed38";
}
.icon-number14:before {
  content: "\ed39";
}
.icon-number15:before {
  content: "\ed3a";
}
.icon-number16:before {
  content: "\ed3b";
}
.icon-number17:before {
  content: "\ed3c";
}
.icon-number18:before {
  content: "\ed3d";
}
.icon-number19:before {
  content: "\ed3e";
}
.icon-number20:before {
  content: "\ed3f";
}
.icon-quote:before {
  content: "\ed40";
}
.icon-quote2:before {
  content: "\ed41";
}
.icon-tag:before {
  content: "\ed42";
}
.icon-tag2:before {
  content: "\ed43";
}
.icon-link2:before {
  content: "\ed44";
}
.icon-link3:before {
  content: "\ed45";
}
.icon-cabinet:before {
  content: "\ed46";
}
.icon-cabinet2:before {
  content: "\ed47";
}
.icon-calendar2:before {
  content: "\ed48";
}
.icon-calendar3:before {
  content: "\ed49";
}
.icon-calendar4:before {
  content: "\ed4a";
}
.icon-file:before {
  content: "\ed4b";
}
.icon-file2:before {
  content: "\ed4c";
}
.icon-file3:before {
  content: "\ed4d";
}
.icon-files:before {
  content: "\ed4e";
}
.icon-phone2:before {
  content: "\ed4f";
}
.icon-tablet2:before {
  content: "\ed50";
}
.icon-window:before {
  content: "\ed51";
}
.icon-monitor:before {
  content: "\ed52";
}
.icon-ipod:before {
  content: "\ed53";
}
.icon-tv2:before {
  content: "\ed54";
}
.icon-camera2:before {
  content: "\ed55";
}
.icon-camera3:before {
  content: "\ed56";
}
.icon-camera4:before {
  content: "\ed57";
}
.icon-film2:before {
  content: "\ed58";
}
.icon-film3:before {
  content: "\ed59";
}
.icon-film4:before {
  content: "\ed5a";
}
.icon-microphone:before {
  content: "\ed5b";
}
.icon-microphone2:before {
  content: "\ed5c";
}
.icon-microphone3:before {
  content: "\ed5d";
}
.icon-inbox:before {
  content: "\ed5e";
}
.icon-download4:before {
  content: "\ed5f";
}
.icon-upload4:before {
  content: "\ed60";
}
.icon-inbox2:before {
  content: "\ed61";
}
.icon-checkmark3:before {
  content: "\ed62";
}
.icon-checkmark4:before {
  content: "\ed63";
}
.icon-cancel:before {
  content: "\ed64";
}
.icon-cancel2:before {
  content: "\ed65";
}
.icon-plus2:before {
  content: "\ed66";
}
.icon-plus3:before {
  content: "\ed67";
}
.icon-minus2:before {
  content: "\ed68";
}
.icon-minus3:before {
  content: "\ed69";
}
.icon-notice:before {
  content: "\ed6a";
}
.icon-notice2:before {
  content: "\ed6b";
}
.icon-cog2:before {
  content: "\ed6c";
}
.icon-cogs2:before {
  content: "\ed6d";
}
.icon-cog3:before {
  content: "\ed6e";
}
.icon-warning2:before {
  content: "\ed6f";
}
.icon-health:before {
  content: "\ed70";
}
.icon-suitcase:before {
  content: "\ed71";
}
.icon-suitcase2:before {
  content: "\ed72";
}
.icon-suitcase3:before {
  content: "\ed73";
}
.icon-picture:before {
  content: "\ed74";
}
.icon-pictures:before {
  content: "\ed75";
}
.icon-pictures2:before {
  content: "\ed76";
}
.icon-android2:before {
  content: "\ed77";
}
.icon-pacman2:before {
  content: "\ed78";
}
.icon-cassette:before {
  content: "\ed79";
}
.icon-watch:before {
  content: "\ed7a";
}
.icon-chronometer:before {
  content: "\ed7b";
}
.icon-watch2:before {
  content: "\ed7c";
}
.icon-alarmclock:before {
  content: "\ed7d";
}
.icon-time:before {
  content: "\ed7e";
}
.icon-time2:before {
  content: "\ed7f";
}
.icon-headphones2:before {
  content: "\ed80";
}
.icon-wallet:before {
  content: "\ed81";
}
.icon-checkmark5:before {
  content: "\ed82";
}
.icon-cancel3:before {
  content: "\ed83";
}
.icon-eye2:before {
  content: "\ed84";
}
.icon-position:before {
  content: "\ed85";
}
.icon-sitemap:before {
  content: "\ed86";
}
.icon-sitemap2:before {
  content: "\ed87";
}
.icon-cloud2:before {
  content: "\ed88";
}
.icon-upload5:before {
  content: "\ed89";
}
.icon-chart:before {
  content: "\ed8a";
}
.icon-chart2:before {
  content: "\ed8b";
}
.icon-chart3:before {
  content: "\ed8c";
}
.icon-chart4:before {
  content: "\ed8d";
}
.icon-chart5:before {
  content: "\ed8e";
}
.icon-chart6:before {
  content: "\ed8f";
}
.icon-location3:before {
  content: "\ed90";
}
.icon-download5:before {
  content: "\ed91";
}
.icon-basket:before {
  content: "\ed92";
}
.icon-folder2:before {
  content: "\ed93";
}
.icon-gamepad:before {
  content: "\ed94";
}
.icon-alarm2:before {
  content: "\ed95";
}
.icon-alarm-cancel:before {
  content: "\ed96";
}
.icon-phone3:before {
  content: "\ed97";
}
.icon-phone4:before {
  content: "\ed98";
}
.icon-image2:before {
  content: "\ed99";
}
.icon-open:before {
  content: "\ed9a";
}
.icon-sale:before {
  content: "\ed9b";
}
.icon-direction:before {
  content: "\ed9c";
}
.icon-map3:before {
  content: "\ed9d";
}
.icon-trashcan:before {
  content: "\ed9e";
}
.icon-vote:before {
  content: "\ed9f";
}
.icon-graduate:before {
  content: "\eda0";
}
.icon-lab2:before {
  content: "\eda1";
}
.icon-tie:before {
  content: "\eda2";
}
.icon-football:before {
  content: "\eda3";
}
.icon-eightball:before {
  content: "\eda4";
}
.icon-bowling:before {
  content: "\eda5";
}
.icon-bowlingpin:before {
  content: "\eda6";
}
.icon-baseball:before {
  content: "\eda7";
}
.icon-soccer:before {
  content: "\eda8";
}
.icon-3dglasses:before {
  content: "\eda9";
}
.icon-microwave:before {
  content: "\edaa";
}
.icon-refrigerator:before {
  content: "\edab";
}
.icon-oven:before {
  content: "\edac";
}
.icon-washingmachine:before {
  content: "\edad";
}
.icon-mouse:before {
  content: "\edae";
}
.icon-hand:before {
  content: "\edaf";
}
.icon-radio:before {
  content: "\edb0";
}
.icon-satellite:before {
  content: "\edb1";
}
.icon-medal:before {
  content: "\edb2";
}
.icon-medal2:before {
  content: "\edb3";
}
.icon-switch2:before {
  content: "\edb4";
}
.icon-key3:before {
  content: "\edb5";
}
.icon-cord:before {
  content: "\edb6";
}
.icon-locked:before {
  content: "\edb7";
}
.icon-unlocked2:before {
  content: "\edb8";
}
.icon-locked2:before {
  content: "\edb9";
}
.icon-unlocked3:before {
  content: "\edba";
}
.icon-magnifier:before {
  content: "\edbb";
}
.icon-zoomin:before {
  content: "\edbc";
}
.icon-zoomout:before {
  content: "\edbd";
}
.icon-stack2:before {
  content: "\edbe";
}
.icon-stack3:before {
  content: "\edbf";
}
.icon-stack4:before {
  content: "\edc0";
}
.icon-lamp:before {
  content: "\edc1";
}
.icon-lamp2:before {
  content: "\edc2";
}
.icon-umbrella:before {
  content: "\edc3";
}
.icon-streetlight:before {
  content: "\edc4";
}
.icon-bomb:before {
  content: "\edc5";
}
.icon-archive:before {
  content: "\edc6";
}
.icon-battery:before {
  content: "\edc7";
}
.icon-battery2:before {
  content: "\edc8";
}
.icon-battery3:before {
  content: "\edc9";
}
.icon-battery4:before {
  content: "\edca";
}
.icon-battery5:before {
  content: "\edcb";
}
.icon-megaphone:before {
  content: "\edcc";
}
.icon-megaphone2:before {
  content: "\edcd";
}
.icon-patch:before {
  content: "\edce";
}
.icon-pil:before {
  content: "\edcf";
}
.icon-injection:before {
  content: "\edd0";
}
.icon-thermometer:before {
  content: "\edd1";
}
.icon-lamp3:before {
  content: "\edd2";
}
.icon-lamp4:before {
  content: "\edd3";
}
.icon-lamp5:before {
  content: "\edd4";
}
.icon-cube2:before {
  content: "\edd5";
}
.icon-box:before {
  content: "\edd6";
}
.icon-box2:before {
  content: "\edd7";
}
.icon-diamond:before {
  content: "\edd8";
}
.icon-bag:before {
  content: "\edd9";
}
.icon-moneybag:before {
  content: "\edda";
}
.icon-grid:before {
  content: "\eddb";
}
.icon-grid2:before {
  content: "\eddc";
}
.icon-list3:before {
  content: "\eddd";
}
.icon-list4:before {
  content: "\edde";
}
.icon-ruler2:before {
  content: "\eddf";
}
.icon-ruler22:before {
  content: "\ede0";
}
.icon-layout:before {
  content: "\ede1";
}
.icon-layout2:before {
  content: "\ede2";
}
.icon-layout3:before {
  content: "\ede3";
}
.icon-layout4:before {
  content: "\ede4";
}
.icon-layout5:before {
  content: "\ede5";
}
.icon-layout6:before {
  content: "\ede6";
}
.icon-layout7:before {
  content: "\ede7";
}
.icon-layout8:before {
  content: "\ede8";
}
.icon-layout9:before {
  content: "\ede9";
}
.icon-layout10:before {
  content: "\edea";
}
.icon-layout11:before {
  content: "\edeb";
}
.icon-layout12:before {
  content: "\edec";
}
.icon-layout13:before {
  content: "\eded";
}
.icon-layout14:before {
  content: "\edee";
}
.icon-tools:before {
  content: "\edef";
}
.icon-screwdriver:before {
  content: "\edf0";
}
.icon-paint:before {
  content: "\edf1";
}
.icon-hammer3:before {
  content: "\edf2";
}
.icon-brush2:before {
  content: "\edf3";
}
.icon-pen22:before {
  content: "\edf4";
}
.icon-chat:before {
  content: "\edf5";
}
.icon-comments:before {
  content: "\edf6";
}
.icon-chat2:before {
  content: "\edf7";
}
.icon-chat3:before {
  content: "\edf8";
}
.icon-volume:before {
  content: "\edf9";
}
.icon-volume2:before {
  content: "\edfa";
}
.icon-volume3:before {
  content: "\edfb";
}
.icon-equalizer3:before {
  content: "\edfc";
}
.icon-resize:before {
  content: "\edfd";
}
.icon-resize2:before {
  content: "\edfe";
}
.icon-stretch:before {
  content: "\edff";
}
.icon-narrow:before {
  content: "\ee00";
}
.icon-resize3:before {
  content: "\ee01";
}
.icon-download6:before {
  content: "\ee02";
}
.icon-calculator2:before {
  content: "\ee03";
}
.icon-library2:before {
  content: "\ee04";
}
.icon-auction:before {
  content: "\ee05";
}
.icon-justice:before {
  content: "\ee06";
}
.icon-stats:before {
  content: "\ee07";
}
.icon-stats2:before {
  content: "\ee08";
}
.icon-attachment2:before {
  content: "\ee09";
}
.icon-hourglass:before {
  content: "\ee0a";
}
.icon-abacus:before {
  content: "\ee0b";
}
.icon-pencil3:before {
  content: "\ee0c";
}
.icon-pen3:before {
  content: "\ee0d";
}
.icon-pin:before {
  content: "\ee0e";
}
.icon-pin2:before {
  content: "\ee0f";
}
.icon-discout:before {
  content: "\ee10";
}
.icon-edit2:before {
  content: "\ee11";
}
.icon-scissors2:before {
  content: "\ee12";
}
.icon-profile2:before {
  content: "\ee13";
}
.icon-profile3:before {
  content: "\ee14";
}
.icon-profile4:before {
  content: "\ee15";
}
.icon-rotate2:before {
  content: "\ee16";
}
.icon-rotate22:before {
  content: "\ee17";
}
.icon-reply2:before {
  content: "\ee18";
}
.icon-forward4:before {
  content: "\ee19";
}
.icon-retweet:before {
  content: "\ee1a";
}
.icon-shuffle2:before {
  content: "\ee1b";
}
.icon-loop3:before {
  content: "\ee1c";
}
.icon-crop22:before {
  content: "\ee1d";
}
.icon-square2:before {
  content: "\ee1e";
}
.icon-square22:before {
  content: "\ee1f";
}
.icon-circle2:before {
  content: "\ee20";
}
.icon-dollar:before {
  content: "\ee21";
}
.icon-dollar2:before {
  content: "\ee22";
}
.icon-coins:before {
  content: "\ee23";
}
.icon-pig:before {
  content: "\ee24";
}
.icon-bookmark2:before {
  content: "\ee25";
}
.icon-bookmark3:before {
  content: "\ee26";
}
.icon-addressbook:before {
  content: "\ee27";
}
.icon-addressbook2:before {
  content: "\ee28";
}
.icon-safe:before {
  content: "\ee29";
}
.icon-envelope:before {
  content: "\ee2a";
}
.icon-envelope2:before {
  content: "\ee2b";
}
.icon-radioactive:before {
  content: "\ee2c";
}
.icon-music2:before {
  content: "\ee2d";
}
.icon-presentation:before {
  content: "\ee2e";
}
.icon-male:before {
  content: "\ee2f";
}
.icon-female:before {
  content: "\ee30";
}
.icon-aids:before {
  content: "\ee31";
}
.icon-heart2:before {
  content: "\ee32";
}
.icon-info2:before {
  content: "\ee33";
}
.icon-info3:before {
  content: "\ee34";
}
.icon-piano:before {
  content: "\ee35";
}
.icon-rain:before {
  content: "\ee36";
}
.icon-snow:before {
  content: "\ee37";
}
.icon-lightning:before {
  content: "\ee38";
}
.icon-sun2:before {
  content: "\ee39";
}
.icon-moon:before {
  content: "\ee3a";
}
.icon-cloudy:before {
  content: "\ee3b";
}
.icon-cloudy2:before {
  content: "\ee3c";
}
.icon-car:before {
  content: "\ee3d";
}
.icon-bike:before {
  content: "\ee3e";
}
.icon-truck2:before {
  content: "\ee3f";
}
.icon-bus:before {
  content: "\ee40";
}
.icon-bike2:before {
  content: "\ee41";
}
.icon-plane:before {
  content: "\ee42";
}
.icon-paperplane:before {
  content: "\ee43";
}
.icon-rocket2:before {
  content: "\ee44";
}
.icon-book2:before {
  content: "\ee45";
}
.icon-book3:before {
  content: "\ee46";
}
.icon-barcode2:before {
  content: "\ee47";
}
.icon-barcode3:before {
  content: "\ee48";
}
.icon-expand:before {
  content: "\ee49";
}
.icon-collapse:before {
  content: "\ee4a";
}
.icon-popout:before {
  content: "\ee4b";
}
.icon-popin:before {
  content: "\ee4c";
}
.icon-target2:before {
  content: "\ee4d";
}
.icon-badge:before {
  content: "\ee4e";
}
.icon-badge2:before {
  content: "\ee4f";
}
.icon-ticket2:before {
  content: "\ee50";
}
.icon-ticket3:before {
  content: "\ee51";
}
.icon-ticket4:before {
  content: "\ee52";
}
.icon-microphone4:before {
  content: "\ee53";
}
.icon-cone2:before {
  content: "\ee54";
}
.icon-blocked2:before {
  content: "\ee55";
}
.icon-stop3:before {
  content: "\ee56";
}
.icon-keyboard2:before {
  content: "\ee57";
}
.icon-keyboard3:before {
  content: "\ee58";
}
.icon-radio2:before {
  content: "\ee59";
}
.icon-printer2:before {
  content: "\ee5a";
}
.icon-checked:before {
  content: "\ee5b";
}
.icon-error:before {
  content: "\ee5c";
}
.icon-add:before {
  content: "\ee5d";
}
.icon-minus4:before {
  content: "\ee5e";
}
.icon-alert:before {
  content: "\ee5f";
}
.icon-pictures3:before {
  content: "\ee60";
}
.icon-atom:before {
  content: "\ee61";
}
.icon-eyedropper22:before {
  content: "\ee62";
}
.icon-globe:before {
  content: "\ee63";
}
.icon-globe2:before {
  content: "\ee64";
}
.icon-shipping:before {
  content: "\ee65";
}
.icon-yingyang:before {
  content: "\ee66";
}
.icon-compass3:before {
  content: "\ee67";
}
.icon-zip:before {
  content: "\ee68";
}
.icon-zip2:before {
  content: "\ee69";
}
.icon-anchor2:before {
  content: "\ee6a";
}
.icon-magnet2:before {
  content: "\ee6b";
}
.icon-navigation:before {
  content: "\ee6c";
}
.icon-tags:before {
  content: "\ee6d";
}
.icon-heart3:before {
  content: "\ee6e";
}
.icon-heart4:before {
  content: "\ee6f";
}
.icon-usb:before {
  content: "\ee70";
}
.icon-clipboard2:before {
  content: "\ee71";
}
.icon-clipboard3:before {
  content: "\ee72";
}
.icon-clipboard4:before {
  content: "\ee73";
}
.icon-switch3:before {
  content: "\ee74";
}
.icon-ruler3:before {
  content: "\ee75";
}
.icon-home:before {
  content: "\ee76";
}
.icon-home2:before {
  content: "\ee77";
}
.icon-home3:before {
  content: "\ee78";
}
.icon-office:before {
  content: "\ee79";
}
.icon-newspaper:before {
  content: "\ee7a";
}
.icon-pencil:before {
  content: "\ee7b";
}
.icon-pencil2:before {
  content: "\ee7c";
}
.icon-quill:before {
  content: "\ee7d";
}
.icon-pen2:before {
  content: "\ee7e";
}
.icon-blog:before {
  content: "\ee7f";
}
.icon-eyedropper2:before {
  content: "\ee80";
}
.icon-droplet:before {
  content: "\ee81";
}
.icon-paint-format:before {
  content: "\ee82";
}
.icon-image:before {
  content: "\ee83";
}
.icon-images:before {
  content: "\ee84";
}
.icon-camera:before {
  content: "\ee85";
}
.icon-headphones:before {
  content: "\ee86";
}
.icon-music:before {
  content: "\ee87";
}
.icon-play:before {
  content: "\ee88";
}
.icon-film:before {
  content: "\ee89";
}
.icon-video-camera:before {
  content: "\ee8a";
}
.icon-dice:before {
  content: "\ee8b";
}
.icon-pacman:before {
  content: "\ee8c";
}
.icon-spades:before {
  content: "\ee8d";
}
.icon-clubs:before {
  content: "\ee8e";
}
.icon-diamonds:before {
  content: "\ee8f";
}
.icon-bullhorn:before {
  content: "\ee90";
}
.icon-connection:before {
  content: "\ee91";
}
.icon-podcast:before {
  content: "\ee92";
}
.icon-feed:before {
  content: "\ee93";
}
.icon-mic:before {
  content: "\ee94";
}
.icon-book:before {
  content: "\ee95";
}
.icon-books:before {
  content: "\ee96";
}
.icon-library:before {
  content: "\ee97";
}
.icon-file-text:before {
  content: "\ee98";
}
.icon-profile:before {
  content: "\ee99";
}
.icon-file-empty:before {
  content: "\ee9a";
}
.icon-files-empty:before {
  content: "\ee9b";
}
.icon-file-text2:before {
  content: "\ee9c";
}
.icon-file-picture:before {
  content: "\ee9d";
}
.icon-file-music:before {
  content: "\ee9e";
}
.icon-file-play:before {
  content: "\ee9f";
}
.icon-file-video:before {
  content: "\eea0";
}
.icon-file-zip:before {
  content: "\eea1";
}
.icon-copy:before {
  content: "\eea2";
}
.icon-paste:before {
  content: "\eea3";
}
.icon-stack:before {
  content: "\eea4";
}
.icon-folder:before {
  content: "\eea5";
}
.icon-folder-open:before {
  content: "\eea6";
}
.icon-folder-plus:before {
  content: "\eea7";
}
.icon-folder-minus:before {
  content: "\eea8";
}
.icon-folder-download:before {
  content: "\eea9";
}
.icon-folder-upload:before {
  content: "\eeaa";
}
.icon-price-tag:before {
  content: "\eeab";
}
.icon-price-tags:before {
  content: "\eeac";
}
.icon-barcode:before {
  content: "\eead";
}
.icon-qrcode:before {
  content: "\eeae";
}
.icon-ticket:before {
  content: "\eeaf";
}
.icon-cart:before {
  content: "\eeb0";
}
.icon-coin-dollar:before {
  content: "\eeb1";
}
.icon-coin-euro:before {
  content: "\eeb2";
}
.icon-coin-pound:before {
  content: "\eeb3";
}
.icon-coin-yen:before {
  content: "\eeb4";
}
.icon-credit-card:before {
  content: "\eeb5";
}
.icon-calculator:before {
  content: "\eeb6";
}
.icon-lifebuoy:before {
  content: "\eeb7";
}
.icon-phone:before {
  content: "\eeb8";
}
.icon-phone-hang-up:before {
  content: "\eeb9";
}
.icon-address-book:before {
  content: "\eeba";
}
.icon-envelop:before {
  content: "\eebb";
}
.icon-pushpin:before {
  content: "\eebc";
}
.icon-location:before {
  content: "\eebd";
}
.icon-location2:before {
  content: "\eebe";
}
.icon-compass:before {
  content: "\eebf";
}
.icon-compass2:before {
  content: "\eec0";
}
.icon-map:before {
  content: "\eec1";
}
.icon-map2:before {
  content: "\eec2";
}
.icon-history:before {
  content: "\eec3";
}
.icon-clock:before {
  content: "\eec4";
}
.icon-clock2:before {
  content: "\eec5";
}
.icon-alarm:before {
  content: "\eec6";
}
.icon-bell:before {
  content: "\eec7";
}
.icon-stopwatch:before {
  content: "\eec8";
}
.icon-calendar:before {
  content: "\eec9";
}
.icon-printer:before {
  content: "\eeca";
}
.icon-keyboard:before {
  content: "\eecb";
}
.icon-display:before {
  content: "\eecc";
}
.icon-laptop:before {
  content: "\eecd";
}
.icon-mobile:before {
  content: "\eece";
}
.icon-mobile2:before {
  content: "\eecf";
}
.icon-tablet:before {
  content: "\eed0";
}
.icon-tv:before {
  content: "\eed1";
}
.icon-drawer:before {
  content: "\eed2";
}
.icon-drawer2:before {
  content: "\eed3";
}
.icon-box-add:before {
  content: "\eed4";
}
.icon-box-remove:before {
  content: "\eed5";
}
.icon-download:before {
  content: "\eed6";
}
.icon-upload:before {
  content: "\eed7";
}
.icon-floppy-disk:before {
  content: "\eed8";
}
.icon-drive:before {
  content: "\eed9";
}
.icon-database:before {
  content: "\eeda";
}
.icon-undo:before {
  content: "\eedb";
}
.icon-redo:before {
  content: "\eedc";
}
.icon-undo2:before {
  content: "\eedd";
}
.icon-redo2:before {
  content: "\eede";
}
.icon-forward:before {
  content: "\eedf";
}
.icon-reply:before {
  content: "\eee0";
}
.icon-bubble:before {
  content: "\eee1";
}
.icon-bubbles:before {
  content: "\eee2";
}
.icon-bubbles2:before {
  content: "\eee3";
}
.icon-bubble2:before {
  content: "\eee4";
}
.icon-bubbles3:before {
  content: "\eee5";
}
.icon-bubbles4:before {
  content: "\eee6";
}
.icon-user:before {
  content: "\eee7";
}
.icon-users:before {
  content: "\eee8";
}
.icon-user-plus:before {
  content: "\eee9";
}
.icon-user-minus:before {
  content: "\eeea";
}
.icon-user-check:before {
  content: "\eeeb";
}
.icon-user-tie:before {
  content: "\eeec";
}
.icon-quotes-left:before {
  content: "\eeed";
}
.icon-quotes-right:before {
  content: "\eeee";
}
.icon-hour-glass:before {
  content: "\eeef";
}
.icon-spinner:before {
  content: "\eef0";
}
.icon-spinner2:before {
  content: "\eef1";
}
.icon-spinner3:before {
  content: "\eef2";
}
.icon-spinner4:before {
  content: "\eef3";
}
.icon-spinner5:before {
  content: "\eef4";
}
.icon-spinner6:before {
  content: "\eef5";
}
.icon-spinner7:before {
  content: "\eef6";
}
.icon-spinner8:before {
  content: "\eef7";
}
.icon-spinner9:before {
  content: "\eef8";
}
.icon-spinner10:before {
  content: "\eef9";
}
.icon-spinner11:before {
  content: "\eefa";
}
.icon-binoculars:before {
  content: "\eefb";
}
.icon-search:before {
  content: "\eefc";
}
.icon-zoom-in:before {
  content: "\eefd";
}
.icon-zoom-out:before {
  content: "\eefe";
}
.icon-enlarge:before {
  content: "\eeff";
}
.icon-shrink:before {
  content: "\ef00";
}
.icon-enlarge2:before {
  content: "\ef01";
}
.icon-shrink2:before {
  content: "\ef02";
}
.icon-key:before {
  content: "\ef03";
}
.icon-key2:before {
  content: "\ef04";
}
.icon-lock:before {
  content: "\ef05";
}
.icon-unlocked:before {
  content: "\ef06";
}
.icon-wrench:before {
  content: "\ef07";
}
.icon-equalizer:before {
  content: "\ef08";
}
.icon-equalizer2:before {
  content: "\ef09";
}
.icon-cog:before {
  content: "\ef0a";
}
.icon-cogs:before {
  content: "\ef0b";
}
.icon-hammer:before {
  content: "\ef0c";
}
.icon-magic-wand:before {
  content: "\ef0d";
}
.icon-aid-kit:before {
  content: "\ef0e";
}
.icon-bug:before {
  content: "\ef0f";
}
.icon-pie-chart:before {
  content: "\ef10";
}
.icon-stats-dots:before {
  content: "\ef11";
}
.icon-stats-bars:before {
  content: "\ef12";
}
.icon-stats-bars2:before {
  content: "\ef13";
}
.icon-trophy:before {
  content: "\ef14";
}
.icon-gift:before {
  content: "\ef15";
}
.icon-glass:before {
  content: "\ef16";
}
.icon-glass2:before {
  content: "\ef17";
}
.icon-mug:before {
  content: "\ef18";
}
.icon-spoon-knife:before {
  content: "\ef19";
}
.icon-leaf:before {
  content: "\ef1a";
}
.icon-rocket:before {
  content: "\ef1b";
}
.icon-meter:before {
  content: "\ef1c";
}
.icon-meter2:before {
  content: "\ef1d";
}
.icon-hammer2:before {
  content: "\ef1e";
}
.icon-fire:before {
  content: "\ef1f";
}
.icon-lab:before {
  content: "\ef20";
}
.icon-magnet:before {
  content: "\ef21";
}
.icon-bin:before {
  content: "\ef22";
}
.icon-bin2:before {
  content: "\ef23";
}
.icon-briefcase:before {
  content: "\ef24";
}
.icon-airplane:before {
  content: "\ef25";
}
.icon-truck:before {
  content: "\ef26";
}
.icon-road:before {
  content: "\ef27";
}
.icon-accessibility:before {
  content: "\ef28";
}
.icon-target:before {
  content: "\ef29";
}
.icon-shield:before {
  content: "\ef2a";
}
.icon-power:before {
  content: "\ef2b";
}
.icon-switch:before {
  content: "\ef2c";
}
.icon-power-cord:before {
  content: "\ef2d";
}
.icon-clipboard:before {
  content: "\ef2e";
}
.icon-list-numbered:before {
  content: "\ef2f";
}
.icon-list:before {
  content: "\ef30";
}
.icon-list2:before {
  content: "\ef31";
}
.icon-tree:before {
  content: "\ef32";
}
.icon-menu:before {
  content: "\ef33";
}
.icon-menu2:before {
  content: "\ef34";
}
.icon-menu3:before {
  content: "\ef35";
}
.icon-menu4:before {
  content: "\ef36";
}
.icon-cloud:before {
  content: "\ef37";
}
.icon-cloud-download:before {
  content: "\ef38";
}
.icon-cloud-upload:before {
  content: "\ef39";
}
.icon-cloud-check:before {
  content: "\ef3a";
}
.icon-download2:before {
  content: "\ef3b";
}
.icon-upload2:before {
  content: "\ef3c";
}
.icon-download3:before {
  content: "\ef3d";
}
.icon-upload3:before {
  content: "\ef3e";
}
.icon-sphere:before {
  content: "\ef3f";
}
.icon-earth:before {
  content: "\ef40";
}
.icon-link:before {
  content: "\ef41";
}
.icon-flag:before {
  content: "\ef42";
}
.icon-attachment:before {
  content: "\ef43";
}
.icon-eye:before {
  content: "\ef44";
}
.icon-eye-plus:before {
  content: "\ef45";
}
.icon-eye-minus:before {
  content: "\ef46";
}
.icon-eye-blocked:before {
  content: "\ef47";
}
.icon-bookmark:before {
  content: "\ef48";
}
.icon-bookmarks:before {
  content: "\ef49";
}
.icon-sun:before {
  content: "\ef4a";
}
.icon-contrast:before {
  content: "\ef4b";
}
.icon-brightness-contrast:before {
  content: "\ef4c";
}
.icon-star-empty:before {
  content: "\ef4d";
}
.icon-star-half:before {
  content: "\ef4e";
}
.icon-star-full:before {
  content: "\ef4f";
}
.icon-heart:before {
  content: "\ef50";
}
.icon-point-up:before {
  content: "\ef51";
}
.icon-point-right:before {
  content: "\ef52";
}
.icon-point-down:before {
  content: "\ef53";
}
.icon-point-left:before {
  content: "\ef54";
}
.icon-warning:before {
  content: "\ef55";
}
.icon-notification:before {
  content: "\ef56";
}
.icon-question:before {
  content: "\ef57";
}
.icon-plus:before {
  content: "\ef58";
}
.icon-minus:before {
  content: "\ef59";
}
.icon-info:before {
  content: "\ef5a";
}
.icon-cancel-circle:before {
  content: "\ef5b";
}
.icon-blocked:before {
  content: "\ef5c";
}
.icon-cross:before {
  content: "\ef5d";
}
.icon-checkmark:before {
  content: "\ef5e";
}
.icon-checkmark2:before {
  content: "\ef5f";
}
.icon-spell-check:before {
  content: "\ef60";
}
.icon-enter:before {
  content: "\ef61";
}
.icon-exit:before {
  content: "\ef62";
}
.icon-play2:before {
  content: "\ef63";
}
.icon-pause:before {
  content: "\ef64";
}
.icon-stop:before {
  content: "\ef65";
}
.icon-previous:before {
  content: "\ef66";
}
.icon-next:before {
  content: "\ef67";
}
.icon-backward:before {
  content: "\ef68";
}
.icon-forward2:before {
  content: "\ef69";
}
.icon-play3:before {
  content: "\ef6a";
}
.icon-pause2:before {
  content: "\ef6b";
}
.icon-stop2:before {
  content: "\ef6c";
}
.icon-backward2:before {
  content: "\ef6d";
}
.icon-forward3:before {
  content: "\ef6e";
}
.icon-first:before {
  content: "\ef6f";
}
.icon-last:before {
  content: "\ef70";
}
.icon-previous2:before {
  content: "\ef71";
}
.icon-next2:before {
  content: "\ef72";
}
.icon-eject:before {
  content: "\ef73";
}
.icon-volume-high:before {
  content: "\ef74";
}
.icon-volume-medium:before {
  content: "\ef75";
}
.icon-volume-low:before {
  content: "\ef76";
}
.icon-volume-mute:before {
  content: "\ef77";
}
.icon-volume-mute2:before {
  content: "\ef78";
}
.icon-volume-increase:before {
  content: "\ef79";
}
.icon-volume-decrease:before {
  content: "\ef7a";
}
.icon-loop:before {
  content: "\ef7b";
}
.icon-loop2:before {
  content: "\ef7c";
}
.icon-infinite:before {
  content: "\ef7d";
}
.icon-shuffle:before {
  content: "\ef7e";
}
.icon-arrow-up-left:before {
  content: "\ef7f";
}
.icon-arrow-up:before {
  content: "\ef80";
}
.icon-arrow-up-right:before {
  content: "\ef81";
}
.icon-arrow-right:before {
  content: "\ef82";
}
.icon-arrow-down-right:before {
  content: "\ef83";
}
.icon-arrow-down:before {
  content: "\ef84";
}
.icon-arrow-down-left:before {
  content: "\ef85";
}
.icon-arrow-left:before {
  content: "\ef86";
}
.icon-arrow-up-left2:before {
  content: "\ef87";
}
.icon-arrow-up2:before {
  content: "\ef88";
}
.icon-arrow-up-right2:before {
  content: "\ef89";
}
.icon-arrow-right2:before {
  content: "\ef8a";
}
.icon-arrow-down-right2:before {
  content: "\ef8b";
}
.icon-arrow-down2:before {
  content: "\ef8c";
}
.icon-arrow-down-left2:before {
  content: "\ef8d";
}
.icon-arrow-left2:before {
  content: "\ef8e";
}
.icon-circle-up:before {
  content: "\ef8f";
}
.icon-circle-right:before {
  content: "\ef90";
}
.icon-circle-down:before {
  content: "\ef91";
}
.icon-circle-left:before {
  content: "\ef92";
}
.icon-tab:before {
  content: "\ef93";
}
.icon-move-up:before {
  content: "\ef94";
}
.icon-move-down:before {
  content: "\ef95";
}
.icon-sort-alpha-asc:before {
  content: "\ef96";
}
.icon-sort-alpha-desc:before {
  content: "\ef97";
}
.icon-sort-numeric-asc:before {
  content: "\ef98";
}
.icon-sort-numberic-desc:before {
  content: "\ef99";
}
.icon-sort-amount-asc:before {
  content: "\ef9a";
}
.icon-sort-amount-desc:before {
  content: "\ef9b";
}
.icon-command:before {
  content: "\ef9c";
}
.icon-shift:before {
  content: "\ef9d";
}
.icon-ctrl:before {
  content: "\ef9e";
}
.icon-opt:before {
  content: "\ef9f";
}
.icon-checkbox-checked:before {
  content: "\efa0";
}
.icon-checkbox-unchecked:before {
  content: "\efa1";
}
.icon-radio-checked:before {
  content: "\efa2";
}
.icon-radio-checked2:before {
  content: "\efa3";
}
.icon-radio-unchecked:before {
  content: "\efa4";
}
.icon-crop2:before {
  content: "\efa5";
}
.icon-make-group:before {
  content: "\efa6";
}
.icon-ungroup2:before {
  content: "\efa7";
}
.icon-scissors:before {
  content: "\efa8";
}
.icon-filter:before {
  content: "\efa9";
}
.icon-font:before {
  content: "\efaa";
}
.icon-ligature:before {
  content: "\efab";
}
.icon-ligature2:before {
  content: "\efac";
}
.icon-text-height:before {
  content: "\efad";
}
.icon-text-width:before {
  content: "\efae";
}
.icon-font-size:before {
  content: "\efaf";
}
.icon-bold:before {
  content: "\efb0";
}
.icon-underline:before {
  content: "\efb1";
}
.icon-italic:before {
  content: "\efb2";
}
.icon-strikethrough:before {
  content: "\efb3";
}
.icon-omega:before {
  content: "\efb4";
}
.icon-sigma:before {
  content: "\efb5";
}
.icon-page-break:before {
  content: "\efb6";
}
.icon-superscript:before {
  content: "\efb7";
}
.icon-subscript:before {
  content: "\efb8";
}
.icon-superscript2:before {
  content: "\efb9";
}
.icon-subscript2:before {
  content: "\efba";
}
.icon-text-color:before {
  content: "\efbb";
}
.icon-pagebreak:before {
  content: "\efbc";
}
.icon-clear-formatting:before {
  content: "\efbd";
}
.icon-table:before {
  content: "\efbe";
}
.icon-table2:before {
  content: "\efbf";
}
.icon-insert-template:before {
  content: "\efc0";
}
.icon-pilcrow:before {
  content: "\efc1";
}
.icon-ltr:before {
  content: "\efc2";
}
.icon-rtl:before {
  content: "\efc3";
}
.icon-section:before {
  content: "\efc4";
}
.icon-paragraph-left:before {
  content: "\efc5";
}
.icon-paragraph-center:before {
  content: "\efc6";
}
.icon-paragraph-right:before {
  content: "\efc7";
}
.icon-paragraph-justify:before {
  content: "\efc8";
}
.icon-indent-increase:before {
  content: "\efc9";
}
.icon-indent-decrease:before {
  content: "\efca";
}
.icon-share:before {
  content: "\efcb";
}
.icon-new-tab:before {
  content: "\efcc";
}
.icon-embed:before {
  content: "\efcd";
}
.icon-embed2:before {
  content: "\efce";
}
.icon-terminal:before {
  content: "\efcf";
}
.icon-share2:before {
  content: "\efd0";
}
.icon-mail:before {
  content: "\efd1";
}
.icon-mail2:before {
  content: "\efd2";
}
.icon-mail3:before {
  content: "\efd3";
}
.icon-mail4:before {
  content: "\efd4";
}
.icon-amazon:before {
  content: "\efd5";
}
.icon-google:before {
  content: "\efd6";
}
.icon-google2:before {
  content: "\efd7";
}
.icon-google3:before {
  content: "\efd8";
}
.icon-google-plus:before {
  content: "\efd9";
}
.icon-google-plus2:before {
  content: "\efda";
}
.icon-google-plus3:before {
  content: "\efdb";
}
.icon-hangouts:before {
  content: "\efdc";
}
.icon-google-drive:before {
  content: "\efdd";
}
.icon-facebook:before {
  content: "\efde";
}
.icon-facebook2:before {
  content: "\efdf";
}
.icon-instagram:before {
  content: "\efe0";
}
.icon-whatsapp:before {
  content: "\efe1";
}
.icon-spotify:before {
  content: "\efe2";
}
.icon-telegram:before {
  content: "\efe3";
}
.icon-twitter:before {
  content: "\efe4";
}
.icon-vine:before {
  content: "\efe5";
}
.icon-vk:before {
  content: "\efe6";
}
.icon-renren:before {
  content: "\efe7";
}
.icon-sina-weibo:before {
  content: "\efe8";
}
.icon-rss:before {
  content: "\efe9";
}
.icon-rss2:before {
  content: "\efea";
}
.icon-youtube:before {
  content: "\efeb";
}
.icon-twitch:before {
  content: "\efec";
}
.icon-vimeo:before {
  content: "\efed";
}
.icon-vimeo2:before {
  content: "\efee";
}
.icon-lanyrd:before {
  content: "\efef";
}
.icon-flickr:before {
  content: "\eff0";
}
.icon-flickr2:before {
  content: "\eff1";
}
.icon-flickr3:before {
  content: "\eff2";
}
.icon-flickr4:before {
  content: "\eff3";
}
.icon-dribbble:before {
  content: "\eff4";
}
.icon-behance:before {
  content: "\eff5";
}
.icon-behance2:before {
  content: "\eff6";
}
.icon-deviantart:before {
  content: "\eff7";
}
.icon-500px:before {
  content: "\eff8";
}
.icon-steam:before {
  content: "\eff9";
}
.icon-steam2:before {
  content: "\effa";
}
.icon-dropbox:before {
  content: "\effb";
}
.icon-onedrive:before {
  content: "\effc";
}
.icon-github:before {
  content: "\effd";
}
.icon-npm:before {
  content: "\effe";
}
.icon-basecamp:before {
  content: "\efff";
}
.icon-trello:before {
  content: "\f000";
}
.icon-wordpress:before {
  content: "\f001";
}
.icon-joomla:before {
  content: "\f002";
}
.icon-ello:before {
  content: "\f003";
}
.icon-blogger:before {
  content: "\f004";
}
.icon-blogger2:before {
  content: "\f005";
}
.icon-tumblr:before {
  content: "\f006";
}
.icon-tumblr2:before {
  content: "\f007";
}
.icon-yahoo:before {
  content: "\f008";
}
.icon-yahoo2:before {
  content: "\f009";
}
.icon-tux:before {
  content: "\f00a";
}
.icon-appleinc:before {
  content: "\f00b";
}
.icon-finder:before {
  content: "\f00c";
}
.icon-android:before {
  content: "\f00d";
}
.icon-windows:before {
  content: "\f00e";
}
.icon-windows8:before {
  content: "\f00f";
}
.icon-soundcloud:before {
  content: "\f010";
}
.icon-soundcloud2:before {
  content: "\f011";
}
.icon-skype:before {
  content: "\f012";
}
.icon-reddit:before {
  content: "\f013";
}
.icon-hackernews:before {
  content: "\f014";
}
.icon-wikipedia:before {
  content: "\f015";
}
.icon-linkedin:before {
  content: "\f016";
}
.icon-linkedin2:before {
  content: "\f017";
}
.icon-lastfm:before {
  content: "\f018";
}
.icon-lastfm2:before {
  content: "\f019";
}
.icon-delicious:before {
  content: "\f01a";
}
.icon-stumbleupon:before {
  content: "\f01b";
}
.icon-stumbleupon2:before {
  content: "\f01c";
}
.icon-stackoverflow:before {
  content: "\f01d";
}
.icon-pinterest:before {
  content: "\f01e";
}
.icon-pinterest2:before {
  content: "\f01f";
}
.icon-xing:before {
  content: "\f020";
}
.icon-xing2:before {
  content: "\f021";
}
.icon-flattr:before {
  content: "\f022";
}
.icon-foursquare:before {
  content: "\f023";
}
.icon-yelp:before {
  content: "\f024";
}
.icon-paypal:before {
  content: "\f025";
}
.icon-chrome:before {
  content: "\f026";
}
.icon-firefox:before {
  content: "\f027";
}
.icon-IE:before {
  content: "\f028";
}
.icon-edge:before {
  content: "\f029";
}
.icon-safari:before {
  content: "\f02a";
}
.icon-opera:before {
  content: "\f02b";
}
.icon-file-pdf:before {
  content: "\f02c";
}
.icon-file-openoffice:before {
  content: "\f02d";
}
.icon-file-word:before {
  content: "\f02e";
}
.icon-file-excel:before {
  content: "\f02f";
}
.icon-libreoffice:before {
  content: "\f030";
}
.icon-html-five:before {
  content: "\f031";
}
.icon-html-five2:before {
  content: "\f032";
}
.icon-css3:before {
  content: "\f033";
}
.icon-git:before {
  content: "\f034";
}
.icon-codepen:before {
  content: "\f035";
}
.icon-svg:before {
  content: "\f036";
}
.icon-IcoMoon:before {
  content: "\f037";
}

