inputblock{
  padding: 5px;
  min-height: 2.13em;
  user-select: none;
}
inputheader{
  padding: 5px;
  font-weight: bold;
  font-size: 1.3em;
  user-select: none;
}
inputcolumn{
  display: flex;
  flex-direction: column;
  padding-right: 10px
}
inputcolumn label{
  margin: 5px 0;
}
.label{
  height: 2.13em;
  line-height: 2.13em;
}
.label-left{
  padding-right: 10px;
}
.label-middle{
  padding: 0 10px;
}
.label-right{
  padding-left: 10px;
}
.checkRadio{
  padding-left: 25px !important;
}
.standard-input:disabled{
	opacity: 0.7;
  pointer-events: none;
}
