mapfocus{
  position: absolute!important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid transparent;
  pointer-events:none;
}
datablocks{
  position: absolute!important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events:none;
}
datablocks block{
  position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	white-space: pre;
	line-height: 1.4;
  font-size: 1.2em;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
}
.cesium-widget-credits{
  display: none!important;
}
.cursor-crosshair{
  cursor: crosshair!important;
}
.map-panel-1000a .map-panel-0{
  display: flex;
  border: none;
}
.map-panel-1000a .map-panel-1{
  display: none;
}
.map-panel-1000a .map-panel-row{
  display: none;
}
.map-panel-1000a mapfocus{
  display: none;
}

.map-panel-1100a .map-panel-0{
  display: flex;
  border-right-style: solid;
  border-right-width: 3px;
}
.map-panel-1100a .map-panel-1{
  display: flex;
}
.map-panel-1100a .map-panel-row{
  display: none;
}

.map-panel-1110a .map-panel-0{
  display: flex;
  border-right-style: solid;
  border-right-width: 3px;
}
.map-panel-1110a .map-panel-1{
  display: flex;
}
.map-panel-1110a .map-panel-2{
  border-top-style: solid;
  border-top-width: 3px;
  display: flex;
}
.map-panel-1110a .map-panel-3{
  display: none;
}
.map-panel-1110a .map-panel-row{
  display: flex;
}

.map-panel-1010a .map-panel-0{
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.map-panel-1010a .map-panel-1{
  display: none;
}
.map-panel-1010a .map-panel-2{
  display: flex;
}
.map-panel-1010a .map-panel-3{
  display: none;
}
.map-panel-1010a .map-panel-row{
  display: flex;
}

.map-panel-1111a .map-panel-0{
  display: flex;
  border-right-style: solid;
  border-right-width: 3px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.map-panel-1111a .map-panel-1{
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.map-panel-1111a .map-panel-2{
  display: flex;
  border-right-style: solid;
  border-right-width: 3px;
}
.map-panel-1111a .map-panel-3{
  display: flex;
}
.map-panel-1111a .map-panel-row{
  display: flex;
}

.map-panel-1011a .map-panel-0{
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.map-panel-1011a .map-panel-1{
  display: none;
}
.map-panel-1011a .map-panel-2{
  display: flex;
  border-right-style: solid;
  border-right-width: 3px;
}
.map-panel-1011a .map-panel-3{
  display: flex;
}
.map-panel-1011a .map-panel-row{
  display: flex;
}



.map-panel-1011b, .map-panel-1110b{
  flex-direction: row;
}

.map-panel-1011b .map-row, .map-panel-1110b .map-row{
  flex-direction: column;
}

.map-panel-1011b .map-col, .map-panel-1110b .map-col{
  flex-direction: row;
}

.map-panel-1011b .map-panel-0{
  display: flex;
  border-right-style: solid;
  border-right-width: 3px;
}
.map-panel-1011b .map-panel-1{
  display: none;
}
.map-panel-1011b .map-panel-2{
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.map-panel-1011b .map-panel-3{
  display: flex;
}
.map-panel-1011b .map-panel-row{
  display: flex;
}

.map-panel-1110b .map-panel-0{
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.map-panel-1110b .map-panel-1{
  display: flex;
}
.map-panel-1110b .map-panel-2{
  display: flex;
  border-left-style: solid;
  border-left-width: 3px;
}
.map-panel-1110b .map-panel-3{
  display: none;
}
.map-panel-1110b .map-panel-row{
  display: flex;
}
