@font-face {
  font-family: 'mime';
  src:  url('fonts/mime.eot?q8elpk');
  src:  url('fonts/mime.eot?q8elpk#iefix') format('embedded-opentype'),
    url('fonts/mime.ttf?q8elpk') format('truetype'),
    url('fonts/mime.woff?q8elpk') format('woff'),
    url('fonts/mime.svg?q8elpk#mime') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mime-"], [class*=" mime-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mime' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mime-dm:before {
  content: "\e900";
}
.mime-ds:before {
  content: "\e901";
}
.mime-g2:before {
  content: "\e902";
}
.mime-gp:before {
  content: "\e903";
}
.mime-z:before {
  content: "\e904";
}
.mime-aac:before {
  content: "\e905";
}
.mime-ai:before {
  content: "\e906";
}
.mime-aif:before {
  content: "\e907";
}
.mime-angel:before {
  content: "\e908";
}
.mime-apk:before {
  content: "\e909";
}
.mime-app:before {
  content: "\e90a";
}
.mime-asf:before {
  content: "\e90b";
}
.mime-asp:before {
  content: "\e90c";
}
.mime-aspx:before {
  content: "\e90d";
}
.mime-asx:before {
  content: "\e90e";
}
.mime-avi:before {
  content: "\e90f";
}
.mime-bak:before {
  content: "\e910";
}
.mime-bat:before {
  content: "\e911";
}
.mime-bin:before {
  content: "\e912";
}
.mime-blank:before {
  content: "\e913";
}
.mime-bmp:before {
  content: "\e914";
}
.mime-cab:before {
  content: "\e915";
}
.mime-cad:before {
  content: "\e916";
}
.mime-cdr:before {
  content: "\e917";
}
.mime-cer:before {
  content: "\e918";
}
.mime-cfg:before {
  content: "\e919";
}
.mime-cfm:before {
  content: "\e91a";
}
.mime-cgi:before {
  content: "\e91b";
}
.mime-class:before {
  content: "\e91c";
}
.mime-com:before {
  content: "\e91d";
}
.mime-cpl:before {
  content: "\e91e";
}
.mime-cpp:before {
  content: "\e91f";
}
.mime-crx:before {
  content: "\e920";
}
.mime-csr:before {
  content: "\e921";
}
.mime-css:before {
  content: "\e922";
}
.mime-csv:before {
  content: "\e923";
}
.mime-cue:before {
  content: "\e924";
}
.mime-cur:before {
  content: "\e925";
}
.mime-dat:before {
  content: "\e926";
}
.mime-db:before {
  content: "\e927";
}
.mime-dbf:before {
  content: "\e928";
}
.mime-dds .path1:before {
  content: "\e929";
  color: rgb(0, 0, 0);
}
.mime-dds .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mime-dds .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mime-dds .path4:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-dds .path5:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-dds .path6:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-dds .path7:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-debian:before {
  content: "\e930";
}
.mime-dem:before {
  content: "\e931";
}
.mime-demon:before {
  content: "\e932";
}
.mime-dll:before {
  content: "\e933";
}
.mime-dmg:before {
  content: "\e934";
}
.mime-dmp:before {
  content: "\e935";
}
.mime-doc:before {
  content: "\e936";
}
.mime-docx:before {
  content: "\e937";
}
.mime-drv:before {
  content: "\e938";
}
.mime-dtd:before {
  content: "\e939";
}
.mime-dwg:before {
  content: "\e93a";
}
.mime-dxf:before {
  content: "\e93b";
}
.mime-elf-2:before {
  content: "\e93c";
}
.mime-elf:before {
  content: "\e93d";
}
.mime-eml:before {
  content: "\e93e";
}
.mime-eps-2:before {
  content: "\e93f";
}
.mime-eps:before {
  content: "\e940";
}
.mime-exe:before {
  content: "\e941";
}
.mime-fla:before {
  content: "\e942";
}
.mime-flash:before {
  content: "\e943";
}
.mime-flv:before {
  content: "\e944";
}
.mime-fnt:before {
  content: "\e945";
}
.mime-fon:before {
  content: "\e946";
}
.mime-gam:before {
  content: "\e947";
}
.mime-gbr:before {
  content: "\e948";
}
.mime-ged:before {
  content: "\e949";
}
.mime-gif:before {
  content: "\e94a";
}
.mime-gpx:before {
  content: "\e94b";
}
.mime-gz:before {
  content: "\e94c";
}
.mime-gzip:before {
  content: "\e94d";
}
.mime-hqz:before {
  content: "\e94e";
}
.mime-html:before {
  content: "\e94f";
}
.mime-ibooks:before {
  content: "\e950";
}
.mime-icns:before {
  content: "\e951";
}
.mime-ico:before {
  content: "\e952";
}
.mime-ics:before {
  content: "\e953";
}
.mime-iff:before {
  content: "\e954";
}
.mime-indd:before {
  content: "\e955";
}
.mime-ipa:before {
  content: "\e956";
}
.mime-iso-2:before {
  content: "\e957";
}
.mime-iso:before {
  content: "\e958";
}
.mime-jar:before {
  content: "\e959";
}
.mime-jpg:before {
  content: "\e95a";
}
.mime-js:before {
  content: "\e95b";
}
.mime-jsp:before {
  content: "\e95c";
}
.mime-key:before {
  content: "\e95d";
}
.mime-kml:before {
  content: "\e95e";
}
.mime-kmz:before {
  content: "\e95f";
}
.mime-lnk:before {
  content: "\e960";
}
.mime-log:before {
  content: "\e961";
}
.mime-lua:before {
  content: "\e962";
}
.mime-m3u:before {
  content: "\e963";
}
.mime-m4a:before {
  content: "\e964";
}
.mime-m4v:before {
  content: "\e965";
}
.mime-mach:before {
  content: "\e966";
}
.mime-max:before {
  content: "\e967";
}
.mime-mdb:before {
  content: "\e968";
}
.mime-mdf:before {
  content: "\e969";
}
.mime-mid:before {
  content: "\e96a";
}
.mime-mim:before {
  content: "\e96b";
}
.mime-mov:before {
  content: "\e96c";
}
.mime-mp3:before {
  content: "\e96d";
}
.mime-mp4:before {
  content: "\e96e";
}
.mime-mpa:before {
  content: "\e96f";
}
.mime-mpg:before {
  content: "\e970";
}
.mime-msg-2:before {
  content: "\e971";
}
.mime-msg:before {
  content: "\e972";
}
.mime-msi:before {
  content: "\e973";
}
.mime-nes:before {
  content: "\e974";
}
.mime-object .path1:before {
  content: "\e975";
  color: rgb(0, 0, 0);
}
.mime-object .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mime-object .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mime-object .path4:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mime-object .path5:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-object .path6:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-object .path7:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-odb:before {
  content: "\e97c";
}
.mime-odc:before {
  content: "\e97d";
}
.mime-odf:before {
  content: "\e97e";
}
.mime-odg:before {
  content: "\e97f";
}
.mime-odi:before {
  content: "\e980";
}
.mime-odp:before {
  content: "\e981";
}
.mime-ods:before {
  content: "\e982";
}
.mime-odt-2:before {
  content: "\e983";
}
.mime-odt:before {
  content: "\e984";
}
.mime-odx:before {
  content: "\e985";
}
.mime-ogg:before {
  content: "\e986";
}
.mime-otf-2:before {
  content: "\e987";
}
.mime-otf:before {
  content: "\e988";
}
.mime-pages:before {
  content: "\e989";
}
.mime-pct .path1:before {
  content: "\e98a";
  color: rgb(0, 0, 0);
}
.mime-pct .path2:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mime-pct .path3:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-pdb:before {
  content: "\e98d";
}
.mime-pdf:before {
  content: "\e98e";
}
.mime-pif:before {
  content: "\e98f";
}
.mime-pkg:before {
  content: "\e990";
}
.mime-pl:before {
  content: "\e991";
}
.mime-png:before {
  content: "\e992";
}
.mime-pps:before {
  content: "\e993";
}
.mime-ppt:before {
  content: "\e994";
}
.mime-pptx:before {
  content: "\e995";
}
.mime-ps:before {
  content: "\e996";
}
.mime-psd:before {
  content: "\e997";
}
.mime-pub:before {
  content: "\e998";
}
.mime-python:before {
  content: "\e999";
}
.mime-ra:before {
  content: "\e99a";
}
.mime-rar:before {
  content: "\e99b";
}
.mime-raw:before {
  content: "\e99c";
}
.mime-rm:before {
  content: "\e99d";
}
.mime-rom-2:before {
  content: "\e99e";
}
.mime-rom:before {
  content: "\e99f";
}
.mime-rpm:before {
  content: "\e9a0";
}
.mime-rss:before {
  content: "\e9a1";
}
.mime-rtf:before {
  content: "\e9a2";
}
.mime-sav:before {
  content: "\e9a3";
}
.mime-sdf:before {
  content: "\e9a4";
}
.mime-sitx:before {
  content: "\e9a5";
}
.mime-sql-1:before {
  content: "\e9a6";
}
.mime-sql:before {
  content: "\e9a7";
}
.mime-srt:before {
  content: "\e9a8";
}
.mime-svg:before {
  content: "\e9a9";
}
.mime-swf:before {
  content: "\e9aa";
}
.mime-sys:before {
  content: "\e9ab";
}
.mime-tar:before {
  content: "\e9ac";
}
.mime-tex:before {
  content: "\e9ad";
}
.mime-tga .path1:before {
  content: "\e9ae";
  color: rgb(0, 0, 0);
}
.mime-tga .path2:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mime-tga .path3:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.mime-thm:before {
  content: "\e9b1";
}
.mime-tiff:before {
  content: "\e9b2";
}
.mime-tmp:before {
  content: "\e9b3";
}
.mime-torrent:before {
  content: "\e9b4";
}
.mime-ttf:before {
  content: "\e9b5";
}
.mime-txt:before {
  content: "\e9b6";
}
.mime-uue:before {
  content: "\e9b7";
}
.mime-vb:before {
  content: "\e9b8";
}
.mime-vcd:before {
  content: "\e9b9";
}
.mime-vcf:before {
  content: "\e9ba";
}
.mime-vob:before {
  content: "\e9bb";
}
.mime-wav:before {
  content: "\e9bc";
}
.mime-wma:before {
  content: "\e9bd";
}
.mime-wmv:before {
  content: "\e9be";
}
.mime-wpd:before {
  content: "\e9bf";
}
.mime-wps:before {
  content: "\e9c0";
}
.mime-wsf:before {
  content: "\e9c1";
}
.mime-xhtml:before {
  content: "\e9c2";
}
.mime-xlr:before {
  content: "\e9c3";
}
.mime-xls:before {
  content: "\e9c4";
}
.mime-xlsx:before {
  content: "\e9c5";
}
.mime-xml:before {
  content: "\e9c6";
}
.mime-yuv:before {
  content: "\e9c7";
}
.mime-zip-bak:before {
  content: "\e9c8";
}
.mime-zip:before {
  content: "\e9c9";
}
