.panel-border-none{
  margin: -1px;
}
.panel-border-col{
  margin: -1px 0 -1px -1px;
}
.panel-border-row{
  margin: -1px -1px 0 -1px;
}
panelset panelcol:last-of-type{
  margin-right: -1px;
}
panelset panelrow:last-of-type{
  margin-bottom: -1px;
}
panelrow.header{
  font-size: 1.3em;
  font-weight: bold;
  padding: 5px 10px;
}
panelrow.section{
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px 10px;
}
.panel-section{
  font-size: 1.1em;
  padding: 5px 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
