@font-face {
  font-family: 'weather';
  src:  url('fonts/weather.eot?egsed1');
  src:  url('fonts/weather.eot?egsed1#iefix') format('embedded-opentype'),
    url('fonts/weather.ttf?egsed1') format('truetype'),
    url('fonts/weather.woff?egsed1') format('woff'),
    url('fonts/weather.svg?egsed1#weather') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\41";
}
.icon-stop:before {
  content: "\42";
}
.icon-circle:before {
  content: "\43";
}

